<div class="pet-card">
  <div class="pet-header">
    <div class="pet-heading">
      <div class="pet-name" data-pet-id="{{_id}}">{{name}}</div>
      <div class="pet-speed">{{ localize "FFXIV.Attributes.Speed" }}: {{system.speed.value}} {{system.speed.unit}}</div>
    </div>
    <div class="pet-tag">{{ localize "FFXIV.Tags.Pet" }}</div>
  </div>
  {{#if (hasContent enriched.traits) }}
    <div class="pet-traits">
      <div class="effect">
        <strong>{{ localize "FFXIV.Abilities.TraitsShort" }}:</strong>
        {{{enriched.traits}}}
      </div>
    </div>
  {{/if}}
  {{#each items as |item| }}
    {{#if (isAbilitySubtype item "primary_ability") }}
      {{> "systems/ffxiv/templates/actor/parts/actor-card-pet-abilities.hbs" item}}
    {{/if}}
    {{#if (isAbilitySubtype item "secondary_ability") }}
      {{> "systems/ffxiv/templates/actor/parts/actor-card-pet-abilities.hbs" item}}
    {{/if}}
    {{#if (isAbilitySubtype item "instant_ability") }}
      {{> "systems/ffxiv/templates/actor/parts/actor-card-pet-abilities.hbs" item}}
    {{/if}}
    {{#if (eq item.type "trait") }}
      {{> "systems/ffxiv/templates/actor/parts/actor-card-pet-abilities.hbs" item}}
    {{/if}}
  {{/each}}
</div>
