<div class="npc-statblock">
  <div class="statblock-header">
    <div class="statblock-size-line">
      {{ localize "FFXIV.CharacterSheet.Size" }}:
      {{#if actorEditMode }}
        <select name="system.size" class="input-transparent ffxiv-w-auto">
          {{#each (array "Small" "Medium" "Large" "Huge" "Colossal") as |label| }}
            <option value="{{label}}"
                    {{#if (eq ../system.size label) }}
                    selected
                    {{else if (and (not ../system.size) (eq label "Medium"))}}
                    selected
                    {{/if}}>
              {{localize (concat "FFXIV.SizeCategories." label)}}
            </option>
          {{/each}}
        </select>
      {{else}}
        <span class="npc-plain-value npc-size-value">
          {{#if system.size }}
          {{localize (concat "FFXIV.SizeCategories." system.size)}}{{else}}{{localize "FFXIV.SizeCategories.Medium"}}{{/if}}</span>
        {{/if}}
        <span class="npc-token-size">
          (
          {{#if actorEditMode }}
            <input type="number"
                   class="input-transparent input-size-numbers ffxiv-w-1_5em ffxiv-text-center"
                   name="prototypeToken.width"
                   value="{{ actor.prototypeToken.width }}"
                   min="1"
                   />
          {{else}}
            <span class="npc-plain-value npc-size-number">{{actor.prototypeToken.width}}</span>
          {{/if}}
          x
          {{#if actorEditMode }}
            <input type="number"
                   class="input-transparent input-size-numbers ffxiv-w-1_5em ffxiv-text-center"
                   name="prototypeToken.height"
                   value="{{ actor.prototypeToken.height }}"
                   min="1"
                   />
          {{else}}
            <span class="npc-plain-value npc-size-number">{{actor.prototypeToken.height}}</span>
          {{/if}}
          )
        </span>
        <span>-</span>
        {{#if actorEditMode }}
          <input class="input-transparent npc-specie"
                 type="text"
                 name="system.specie"
                 value="{{ system.specie }}"
                 placeholder="Hyur" />
        {{else}}
          <span class="npc-plain-value npc-specie">{{system.specie}}</span>
        {{/if}}
        {{#if actorEditMode }}
          <label class="npc-elite-foe-toggle" title="{{localize 'FFXIV.CharacterSheet.EliteFoeHint'}}">
            <input type="checkbox"
                   name="system.elite_foe"
                   {{#if system.elite_foe}}checked{{/if}} />
            <span>{{localize "FFXIV.CharacterSheet.EliteFoe"}}</span>
          </label>
        {{else if system.elite_foe}}
          <span class="npc-elite-foe-badge" title="{{localize 'FFXIV.CharacterSheet.EliteFoeHint'}}">
            {{localize "FFXIV.CharacterSheet.EliteFoe"}}
          </span>
        {{/if}}
      </div>
    </div>
    <div class="statblock-content">
      <div class="npc-combat-stats">
        <div class="npc-main-stats">
          <div class="resource flex-group-left">
            <span class="npc-stat-control npc-health-gauge-wrap">
              <div class="npc-health-row">
                <div class="ffxiv-gauge health-gauge npc-health-gauge">
                <div class="gauge-label" aria-hidden="true"></div>
                <div class="health-border gauge-track">
                  <div class="health-bar gauge-fill"></div>
                  <div class="barrier-overlay"></div>
                  <div class="barrier-overflow"></div>
                  <div class="gauge-values">
                    <input type="text"
                           inputmode="numeric"
                           class="health-input"
                           value="{{ system.health.value }}"
                           name="system.health.value" />
                    <span class="gauge-divider">/</span>
                    {{#if actorEditMode }}
                      <input type="number"
                             class="health-input"
                             min="0"
                             value="{{ system.health.max }}"
                             name="system.health.max" />
                    {{else}}
                      <span class="health-input npc-health-max-readonly">{{system.health.max}}</span>
                    {{/if}}
                  </div>
                </div>
              </div>
                <span class="barrier-chip">
                  <span class="barrier-chip-label">{{ localize "FFXIV.Health.barrier" }}</span>
                  <input type="text"
                         inputmode="numeric"
                         class="barrier-input"
                         value="{{ system.barrier.value }}"
                         name="system.barrier.value" />
                </span>
              </div>
              <div class="resource flex-group-left npc-secondary-row">
                <div class="npc-secondary-stat">
                  <span class="npc-secondary-stat-label" title="{{ localize 'FFXIV.Attributes.Vigilance' }}">
                    <span class="npc-stat-label npc-icon-label">
                      {{#if settings.attributesImgVigilance }}
                        <img src="{{ settings.attributesImgVigilance }}"
                             alt="{{ localize 'FFXIV.Attributes.Vigilance' }}" width="20" height="20" />
                      {{else}}
                        {{ localize "FFXIV.Attributes.Vigilance" }}
                      {{/if}}
                    </span>
                    <span class="npc-secondary-label">{{ localize "FFXIV.Attributes.Vigilance" }}</span>
                  </span>
                  <span class="npc-stat-control">
                    {{#if actorEditMode }}
                      <input class="input-window"
                             type="number"
                             name="system.secondary_attributes.vigilance.value"
                             value="{{ system.secondary_attributes.vigilance.value }}"
                             placeholder="0" />
                    {{else}}
                      <span class="npc-plain-value npc-stat-number">{{system.secondary_attributes.vigilance.value}}</span>
                    {{/if}}
                  </span>
                </div>
                <div class="npc-secondary-stat">
                  <span class="npc-secondary-stat-label" title="{{ localize 'FFXIV.Attributes.Speed' }}">
                    <span class="npc-stat-label npc-icon-label">
                      {{#if settings.attributesImgSpeed }}
                        <img src="{{ settings.attributesImgSpeed }}"
                             alt="{{ localize 'FFXIV.Attributes.Speed' }}" width="20" height="20" />
                      {{else}}
                        {{ localize "FFXIV.Attributes.Speed" }}
                      {{/if}}
                    </span>
                    <span class="npc-secondary-label">{{ localize "FFXIV.Attributes.Speed" }}</span>
                  </span>
                  <span class="npc-stat-control">
                    {{#if actorEditMode }}
                      <input class="input-window"
                             type="number"
                             name="system.secondary_attributes.speed.value"
                             value="{{ system.secondary_attributes.speed.value }}"
                             placeholder="0" />
                    {{else}}
                      <span class="npc-plain-value npc-stat-number">{{system.secondary_attributes.speed.value}}</span>
                    {{/if}}
                  </span>
                </div>
              </div>
            </span>
          </div>
        </div>
        <div class="npc-defense-table">
          <div class="npc-defense-heading">Defenses</div>
          <div class="npc-defense-divider"></div>
          <div class="npc-defense-values">
            <div class="npc-defense-cell">
              {{#if settings.attributesImgDefense }}
                <img class="npc-defense-icon"
                     src="{{ settings.attributesImgDefense }}"
                     alt="{{ localize 'FFXIV.Attributes.Defense' }}"
                     title="{{ localize 'FFXIV.Attributes.Defense' }}" width="32" height="32">
              {{else}}
                <span title="{{ localize 'FFXIV.Attributes.Defense' }}">{{ localize "FFXIV.Attributes.Defense" }}</span>
              {{/if}}
              {{#if actorEditMode }}
                <input class="input-window"
                       type="number"
                       name="system.secondary_attributes.defense.value"
                       value="{{ system.secondary_attributes.defense.value }}"
                       placeholder="0" />
              {{else}}
                <span class="npc-plain-value npc-stat-number">{{system.secondary_attributes.defense.value}}</span>
              {{/if}}
            </div>
            <div class="npc-defense-cell">
              {{#if settings.attributesImgMagicDefense }}
                <img class="npc-defense-icon"
                     src="{{ settings.attributesImgMagicDefense }}"
                     alt="{{ localize 'FFXIV.Attributes.MagicDefense' }}"
                     title="{{ localize 'FFXIV.Attributes.MagicDefense' }}" width="32" height="32">
              {{else}}
                <span title="{{ localize 'FFXIV.Attributes.MagicDefense' }}">{{ localize "FFXIV.Attributes.MagicDefense" }}</span>
              {{/if}}
              {{#if actorEditMode }}
                <input class="input-window"
                       type="number"
                       name="system.secondary_attributes.magic_defense.value"
                       value="{{ system.secondary_attributes.magic_defense.value }}"
                       placeholder="0" />
              {{else}}
                <span class="npc-plain-value npc-stat-number">{{system.secondary_attributes.magic_defense.value}}</span>
              {{/if}}
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="resources grid grid-5col">
        <div class="resource flex-group-center">
          <label for="system.primary_attributes.strength.value"
                 class="resource-label roll-attribute"
                 data-attribute="strength">
            <i class="fa-solid fa-dice-d20"></i> {{ localize "FFXIV.Attributes.Strength.abbrv" }}
          </label>
          <div class="resource-content flexrow flex-center flex-between">
            {{#if actorEditMode }}
              <input type="text"
                     name="system.primary_attributes.strength.value"
                     value="{{ system.primary_attributes.strength.value }}"
                     placeholder="+0" />
            {{else}}
              <span class="npc-plain-value">{{system.primary_attributes.strength.value}}</span>
            {{/if}}
          </div>
        </div>
        <div class="resource flex-group-center">
          <label for="system.primary_attributes.dexterity.value"
                 class="resource-label roll-attribute"
                 data-attribute="dexterity">
            <i class="fa-solid fa-dice-d20"></i> {{ localize "FFXIV.Attributes.Dexterity.abbrv" }}
          </label>
          <div class="resource-content flexrow flex-center flex-between">
            {{#if actorEditMode }}
              <input type="text"
                     name="system.primary_attributes.dexterity.value"
                     value="{{ system.primary_attributes.dexterity.value }}"
                     placeholder="+0" />
            {{else}}
              <span class="npc-plain-value">{{system.primary_attributes.dexterity.value}}</span>
            {{/if}}
          </div>
        </div>
        <div class="resource flex-group-center">
          <label for="system.primary_attributes.vitality.value"
                 class="resource-label roll-attribute"
                 data-attribute="vitality">
            <i class="fa-solid fa-dice-d20"></i> {{ localize "FFXIV.Attributes.Vitality.abbrv" }}
          </label>
          <div class="resource-content flexrow flex-center flex-between">
            {{#if actorEditMode }}
              <input type="text"
                     name="system.primary_attributes.vitality.value"
                     value="{{ system.primary_attributes.vitality.value }}"
                     placeholder="+0" />
            {{else}}
              <span class="npc-plain-value">{{system.primary_attributes.vitality.value}}</span>
            {{/if}}
          </div>
        </div>
        <div class="resource flex-group-center">
          <label for="system.primary_attributes.intelligence.value"
                 class="resource-label roll-attribute"
                 data-attribute="intelligence">
            <i class="fa-solid fa-dice-d20"></i> {{ localize "FFXIV.Attributes.Intelligence.abbrv" }}
          </label>
          <div class="resource-content flexrow flex-center flex-between">
            {{#if actorEditMode }}
              <input type="text"
                     name="system.primary_attributes.intelligence.value"
                     value="{{ system.primary_attributes.intelligence.value }}"
                     placeholder="+0" />
            {{else}}
              <span class="npc-plain-value">{{system.primary_attributes.intelligence.value}}</span>
            {{/if}}
          </div>
        </div>
        <div class="resource flex-group-center">
          <label for="system.primary_attributes.mind.value"
                 class="resource-label roll-attribute"
                 data-attribute="mind">
            <i class="fa-solid fa-dice-d20"></i> {{ localize "FFXIV.Attributes.Mind.abbrv" }}
          </label>
          <div class="resource-content flexrow flex-center flex-between">
            {{#if actorEditMode }}
              <input type="text"
                     name="system.primary_attributes.mind.value"
                     value="{{ system.primary_attributes.mind.value }}"
                     placeholder="+0" />
            {{else}}
              <span class="npc-plain-value">{{system.primary_attributes.mind.value}}</span>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>
