
<div class="actor-attributes-tab">
  <div class="actor-attributes">
    <div class="primary-attributes">
      <h2>{{ localize "FFXIV.Attributes.Primary"}}</h2>
      <div class="primary-attributes-list">

          <div class="primary-attribute">
            <div class="meteor-value">
              <img src="{{ settings.attributesImg }}">
              <input type="number" class="value" name="system.primary_attributes.strength.value" value="{{ system.primary_attributes.strength.value }}">
            </div>
            <span class="label roll-attribute" data-attribute="strength"><i class="fa-solid fa-dice-d20"></i> {{ localize "FFXIV.Attributes.Strength.long" }}</span>
          </div>

          <div class="primary-attribute">
            <div class="meteor-value">
              <img src="{{ settings.attributesImg }}">
              <input type="number" class="value" name="system.primary_attributes.dexterity.value" value="{{ system.primary_attributes.dexterity.value }}">
            </div>
            <span class="label roll-attribute" data-attribute="dexterity"><i class="fa-solid fa-dice-d20"></i> {{ localize "FFXIV.Attributes.Dexterity.long" }}</span>
          </div>

          <div class="primary-attribute">
            <div class="meteor-value">
              <img src="{{ settings.attributesImg }}">
              <input type="number" class="value" name="system.primary_attributes.vitality.value" value="{{ system.primary_attributes.vitality.value }}">
            </div>
            <span class="label roll-attribute" data-attribute="vitality"><i class="fa-solid fa-dice-d20"></i> {{ localize "FFXIV.Attributes.Vitality.long" }}</span>
          </div>

          <div class="primary-attribute">
            <div class="meteor-value">
              <img src="{{ settings.attributesImg }}">
              <input type="number" class="value" name="system.primary_attributes.intelligence.value" value="{{ system.primary_attributes.intelligence.value }}">
            </div>
            <span class="label roll-attribute" data-attribute="intelligence"><i class="fa-solid fa-dice-d20"></i> {{ localize "FFXIV.Attributes.Intelligence.long" }}</span>
          </div>

          <div class="primary-attribute">
            <div class="meteor-value">
              <img src="{{ settings.attributesImg }}">
              <input type="number" class="value" name="system.primary_attributes.mind.value" value="{{ system.primary_attributes.mind.value }}">
            </div>
            <span class="label roll-attribute" data-attribute="mind"><i class="fa-solid fa-dice-d20"></i> {{ localize "FFXIV.Attributes.Mind.long" }}</span>
          </div>

      </div>
    </div>

    <div class="secondary-attributes">
      <h2>{{ localize "FFXIV.Attributes.Secondary"}}</h2>

      <div class="s-attribute-grid">

        <div class="s-attribute-card">
          <div class="s-attribute-header">
            {{#if settings.attributesImgDefense }}<img src="{{ settings.attributesImgDefense }}">{{/if}}
            <div class="s-attribute-name">{{ localize "FFXIV.Attributes.Defense" }}</div>
          </div>
          <div class="s-attribute-info">
            <input type="number" class="s-attribute-value" name="system.secondary_attributes.defense.value" value="{{ system.secondary_attributes.defense.value }}">
            <input type="text" class="s-attribute-value" disabled value="+{{ sub rollData.def system.secondary_attributes.defense.value }}">
          </div>
        </div>

        <div class="s-attribute-card">
          <div class="s-attribute-header">
            {{#if settings.attributesImgMagicDefense }}<img src="{{ settings.attributesImgMagicDefense }}">{{/if}}
            <div class="s-attribute-name">{{ localize "FFXIV.Attributes.MagicDefense" }}</div>
          </div>
          <div class="s-attribute-info">
            <input type="number" class="s-attribute-value" name="system.secondary_attributes.magic_defense.value" value="{{ system.secondary_attributes.magic_defense.value }}">
            <input type="text" class="s-attribute-value" disabled value="+{{ sub rollData.mdef system.secondary_attributes.magic_defense.value }}">
          </div>
        </div>

        <div class="s-attribute-card">
          <div class="s-attribute-header">
            {{#if settings.attributesImgVigilance }}<img src="{{ settings.attributesImgVigilance }}">{{/if}}
            <div class="s-attribute-name">{{ localize "FFXIV.Attributes.Vigilance" }}</div>
          </div>
          <div class="s-attribute-info">
            <input type="number" class="s-attribute-value" name="system.secondary_attributes.vigilance.value" value="{{ system.secondary_attributes.vigilance.value }}">
            <input type="text" class="s-attribute-value" disabled value="+{{ sub rollData.vigilance system.secondary_attributes.vigilance.value }}">
          </div>
        </div>

        <div class="s-attribute-card">
          <div class="s-attribute-header">
            {{#if settings.attributesImgSpeed }}<img src="{{ settings.attributesImgSpeed }}">{{/if}}
            <div class="s-attribute-name">{{ localize "FFXIV.Attributes.Speed" }}</div>
          </div>
          <div class="s-attribute-info">
            <input type="number" class="s-attribute-value" name="system.secondary_attributes.speed.value" value="{{ system.secondary_attributes.speed.value }}">
            <input type="text" class="s-attribute-value" name="system.secondary_attributes.speed.unit" value="{{ system.secondary_attributes.speed.unit }}">
          </div>
        </div>


      </div>
    </div>
  </div>


</div>
