<div class="resources grid grid-2col">


  <div class="resource flex-group-center">
    <label for="name" class="resource-label">{{ localize "FFXIV.Name" }}</label>
    <div class="resource-content flexrow flex-center flex-between">
      <input name="name" type="text" value="{{actor.name}}" placeholder="Name"/>
    </div>
  </div>

  <div class="resource flex-group-center">
    <label for="system.experience.level.value" class="resource-label">{{ localize "FFXIV.Level" }}</label>
    <div class="resource-content flexrow flex-center flex-between">
    <input type="text" name="system.experience.level.value" value="{{system.experience.level.value}}" data-dtype="Number"/>
    </div>
  </div>

  <div class="resource flex-group-center">
    <label for="system.class.name" class="resource-label">{{ localize "FFXIV.Class" }}</label>
    <div class="resource-content flexrow flex-center flex-between">

      <select style="text-align: center;" name="system.class.name">
        {{#select system.class.name}} {{#each this.config.classes as |t|}}
        <option value="{{t.value}}">{{ localize t.label }} - {{ localize (labelize 'roles' t.role) }}</option>
        {{/each}} {{/select}}
      </select>

    </div>
  </div>

</div>
{{#if settings.showExperience }}
<hr>
<div class="resources grid grid-2col">


  <div class="resource flex-group-center">
    <label for="system.experience.experience.value" class="resource-label">{{ localize "FFXIV.Experience.Exp" }}</label>
    <div class="resource-content flexrow flex-center flex-between">
    <input type="text" name="system.experience.experience.value" value="{{system.experience.experience.value}}" data-dtype="Number"/>
    </div>
  </div>

  <div class="resource flex-group-center">
    <label for="system.experience.experience.total" class="resource-label">{{ localize "FFXIV.Experience.Total" }}</label>
    <div class="resource-content flexrow flex-center flex-between">
    <input type="text" name="system.experience.experience.total" value="{{system.experience.experience.total}}" data-dtype="Number"/>
    </div>
  </div>


</div>
{{/if}}
<hr>
<div class="resources grid grid-2col">
  <div class="resource" style="margin:auto">
    <label for="system.showModifiers" class="resource-label">{{ localize "FFXIV.CharacterSheet.ShowModifiers" }}</label>
  </div>
  <div class="resource-content">
    <input type="checkbox" name="system.showModifiers" {{#if system.showModifiers}}checked {{/if}}>
  </div>
</div>
