<div class="inventory">
  <h2>{{ localize "FFXIV.CharacterSheet.Inventory"}}</h2>
  <div class="inventory-grid">
    {{!-- Build inventory grid with 20 slots --}}

    {{#each (buildInventoryGrid actor.items 27) as |item|}}
      {{#if item}}  <!-- If there's an item at this position -->
        <div class="inventory-item"
             data-item-id="{{item.id}}"
             data-item-position="{{item.system.position}}"
             draggable="true">
             <img class="item-icon" src="{{item.img}}" alt="{{item.name}}">
             <div class="item-shadow"></div>
          <div class="item-tooltip {{rarityTooltipClass item.system.rarity}}">{{item.name}}</div>
          {{#if item.system.stack}}
            <div class="item-quantity">{{item.system.quantity}}</div>
          {{/if}}
        </div>
      {{else}}  <!-- If this slot is empty -->
        <div class="inventory-item empty-slot"
             data-item-position="{{add @index 1}}"
             draggable="false">
             <div class="item-shadow"></div>
        </div>
      {{/if}}
    {{/each}}
  </div>
  <div class="ffxiv-fortune-row">
    <img
      class="ffxiv-fortune-icon"
      src="systems/ffxiv/assets/currency/fortune.webp"
      alt="{{localize 'FFXIV.Item.Fortune'}}"
      title="{{localize 'FFXIV.Item.Fortune'}}"
    >
    <input
      id="ffxiv-fortune"
      type="number"
      name="system.fortune"
      value="{{system.fortune}}"
      min="0"
      data-dtype="Number"
      {{#unless editable}}disabled{{/unless}}
    >
  </div>

  {{#if (hasItemType items "augment")}}<h2>{{ localize "FFXIV.CharacterSheet.Augments"}}</h2>{{/if}}

  <div class="augments">
    {{#each items as |item|}}
      {{#if (eq item.type "augment")}}
        {{> "systems/ffxiv/templates/actor/parts/actor-card-augment.hbs" this}}
      {{/if}}
    {{/each}}
  </div>

</div>
