<div class="pet-card">

  <div class="pet-header">
    <div class="pet-name" data-pet-id="{{_id}}">
      {{name}}
    </div>
    <div class="pet-header-right">
      <div class="pet-tag">
        {{ localize "FFXIV.Tags.Pet" }}
      </div>
    </div>
  </div>

  <div class="pet-speed">
    {{ localize "FFXIV.Attributes.Speed" }}: {{system.speed.value}} {{system.speed.unit}}
  </div>

  <div class="pet-traits">
    <div class="effect">
      <strong>{{ localize "FFXIV.Abilities.TraitsShort" }}:</strong>
      {{{enriched.traits}}}
    </div>
  </div>

  {{#each items as |item|}}
    {{#if (eq item.type "primary_ability")}}
      {{> "systems/ffxiv/templates/actor/parts/actor-card-pet-abilities.hbs" item}}
    {{/if}}
    {{#if (eq item.type "secondary_ability")}}
      {{> "systems/ffxiv/templates/actor/parts/actor-card-pet-abilities.hbs" item}}
    {{/if}}
    {{#if (eq item.type "instant_ability")}}
      {{> "systems/ffxiv/templates/actor/parts/actor-card-pet-abilities.hbs" item}}
    {{/if}}
    {{#if (eq item.type "trait")}}
      {{> "systems/ffxiv/templates/actor/parts/actor-card-pet-abilities.hbs" item}}
    {{/if}}
  {{/each}}

</div>
