<div class="resources grid grid-2col">


  <div class="resource flex-group-center">
    <label for="name" class="resource-label">{{ localize "FFXIV.Name" }}</label>
    <div class="resource-content flexrow flex-center flex-between">
      <input name="name" type="text" value="{{actor.name}}" placeholder="Name"/>
    </div>
  </div>

  <div class="resource flex-group-center">
    <label for="system.experience.level.value" class="resource-label">{{ localize "FFXIV.Level" }}</label>
    <div class="resource-content flexrow flex-center flex-between">
    <input type="text" name="system.experience.level.value" value="{{system.experience.level.value}}" data-dtype="Number"/>
    </div>
  </div>

  <div class="resource flex-group-center">
    <label for="system.class.name" class="resource-label">{{ localize "FFXIV.Class" }}</label>
    <div class="resource-content flexrow flex-center flex-between">
      <select style="text-align: center;" name="system.class.name">
        {{#each this.config.classes as |t|}}
          <option value="{{t.value}}" {{#if (eq t.value ../system.class.name)}}selected {{/if}} >{{ localize t.label }} - {{ localize (labelize 'roles' t.role) }}</option>
        {{/each}}
          <option value="custom" {{#if (eq "custom" system.class.name)}}selected {{/if}} >{{ localize "FFXIV.Custom" }}</option>
      </select>

    </div>
  </div>

  <div class="resource flex-group-center">
    <label for="system.showPets" class="resource-label">{{ localize "FFXIV.CharacterSheet.ShowPets" }}</label>
    <div class="resource-content flexrow flex-center flex-between">
      <select style="text-align: center;" name="system.showPets">
          <option value="true" {{#if (eq "true" system.showPets)}}selected {{/if}} >{{ localize "FFXIV.True" }}</option>
          <option value="false" {{#if (eq "false" system.showPets)}}selected {{/if}} >{{ localize "FFXIV.False" }}</option>
      </select>

    </div>
  </div>

</div>

{{#if (eq "custom" system.class.name)}}
<div class="resources grid grid-3col">
  <div class="resource flex-group-center">
    <label for="system.class.name_custom" class="resource-label">{{ localize "FFXIV.CharacterSheet.CustomClassName" }}</label>
    <div class="resource-content flexrow flex-center flex-between">
      <input name="system.class.name_custom" type="text" value="{{system.class.name_custom}}" placeholder="Name"/>
    </div>
  </div>
  <div class="resource flex-group-center">
    <label for="system.class.role" class="resource-label">{{ localize "FFXIV.CharacterSheet.CustomClassRole" }}</label>
    <div class="resource-content flexrow flex-center flex-between">
      <select style="text-align: center;" name="system.class.role">
        {{#each this.config.roles as |r|}}
          <option value="{{r.value}}" {{#if (eq r.value ../system.class.role)}}selected {{/if}} >{{ localize r.label }}</option>
        {{/each}}
      </select>
    </div>
  </div>
  <div class="resource flex-group-center">
    <label for="system.class.customIcon" class="resource-label">{{ localize "FFXIV.CharacterSheet.CustomClassIcon" }}</label>
    <div class="resource-content flexrow flex-center flex-between">
      <img name="system.class.customIcon" class="class-icon" src="{{actor.system.class.customIcon}}" data-edit="system.class.customIcon"/>
    </div>
  </div>
</div>
{{/if}}

{{#if settings.showExperience }}
<hr>
<div class="resources grid grid-2col">


  <div class="resource flex-group-center">
    <label for="system.experience.experience.value" class="resource-label">{{ localize "FFXIV.Experience.Exp" }}</label>
    <div class="resource-content flexrow flex-center flex-between">
    <input type="text" name="system.experience.experience.value" value="{{system.experience.experience.value}}" data-dtype="Number"/>
    </div>
  </div>

  <div class="resource flex-group-center">
    <label for="system.experience.experience.total" class="resource-label">{{ localize "FFXIV.Experience.Total" }}</label>
    <div class="resource-content flexrow flex-center flex-between">
    <input type="text" name="system.experience.experience.total" value="{{system.experience.experience.total}}" data-dtype="Number"/>
    </div>
  </div>


</div>
{{/if}}
<hr>
<div class="resources grid grid-2col">

  <div class="resource flex-group-center">
    <label for="system.showModifiers" class="resource-label">{{ localize "FFXIV.CharacterSheet.ShowModifiers" }}</label>
    <div class="resource-content flexrow flex-center flex-between">
      <select style="text-align: center;" name="system.showModifiers">
          <option value="true" {{#if (eq "true" system.showModifiers)}}selected {{/if}} >{{ localize "FFXIV.True" }}</option>
          <option value="false" {{#if (eq "false" system.showModifiers)}}selected {{/if}} >{{ localize "FFXIV.False" }}</option>
      </select>

    </div>
  </div>

  <div class="resource flex-group-center">
    <label for="system.altbanner" class="resource-label">{{ localize "FFXIV.CharacterSheet.AltBanner" }}</label>
    <div class="resource-content flexrow flex-center flex-between">
      <select style="text-align: center;" name="system.altbanner">
          <option value="true" {{#if (eq "true" system.altbanner)}}selected {{/if}} >{{ localize "FFXIV.True" }}</option>
          <option value="false" {{#if (eq "false" system.altbanner)}}selected {{/if}} >{{ localize "FFXIV.False" }}</option>
      </select>

    </div>
  </div>


</div>
