<div class="augment-card" data-item-id="{{_id}}">
  <div class="augment-card-info">
    <div class="augment-icon-wrapper">
      <img src="{{img}}"
           alt="{{name}}"
           class="augment-icon"
           data-item-id="{{_id}}" width="32" height="32">
      <button type="button"
              class="ability-delete"
              data-item-id="{{_id}}"
              aria-label="{{localize 'FFXIV.Item.Delete'}}">
        <i class="fa-solid fa-xmark"></i>
      </button>
    </div>
    <div class="augment-header">
      <div class="augment-name">{{name}}</div>
    </div>
    <div class="augment-details">
      {{#if (hasShopTier system) }}
        <div class="detail">
          <strong>{{localize "FFXIV.Item.ShopTier"}}:</strong> {{shopTierDisplay system}}
        </div>
      {{/if}}
      {{#if (and system.price.buy (not (eq system.price.buy 0))) }}
        <div class="detail">
          <strong>{{ localize "FFXIV.Item.Buy" }}:</strong> {{system.price.buy}}
          {{#if item.system.price.denomination }}
            {{localize system.price.denomination}}{{/if}}
          </div>
        {{/if}}
        {{#if (and system.price.sell (not (eq system.price.sell 0))) }}
          <div class="detail">
            <strong>{{ localize "FFXIV.Item.Sell" }}:</strong> {{system.price.sell}}
            {{#if item.system.price.denomination }}
              {{localize system.price.denomination}}{{/if}}
            </div>
          {{/if}}
        </div>
      </div>
      <div class="augment-effects">
        {{#if system.base_effect }}
          <div class="effect">
            <strong>{{ localize "FFXIV.Abilities.BaseEffect" }}:</strong>
            {{#if enriched.base_effect}}{{{enriched.base_effect}}}{{else}}{{system.base_effect}}{{/if}}
          </div>
        {{/if}}
      </div>
      <button type="button" class="ability-roll-button" data-item-id={{_id}}>{{ localize "FFXIV.CharacterSheet.Show" }}
      </button>
    </div>
