<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">
  {{!-- Sheet Header --}}
  <header class="sheet-header {{system.class.role}}-header{{#if system.altbanner}} alt-banner{{/if}}">
{{!--
<img class="class-img" src="systems/ffxiv/assets/classes/{{system.class.name}}.png" alt="class icon">
<div class="class-level">
  {{system.experience.level.value}}
</div>
<div>
  <h1 class="charname">{{actor.name}}</h1>
</div>
--}}
    <div class="header-fields">
        <div class="charname">
          <h1>{{actor.name}}</h1>
        </div>
        <div class="header-info">
          {{#if (eq "custom" system.class.name)}}
            <img class="class-icon" src="{{system.class.customIcon}}" alt="class icon">
          {{else}}
            <img class="class-icon" src="systems/ffxiv/assets/classes/{{system.class.name}}.png" alt="class icon">
          {{/if}}
          <div class="class-info">
            <div class="level">{{system.experience.level.value}}</div>
            <div class="class-name">
              {{#if (eq "custom" system.class.name)}}
                <span>{{ localize (labelize 'classes' system.class.name_custom)}}</span>
              {{else}}
                <span>{{ localize (labelize 'classes' system.class.name)}}</span>
              {{/if}}
              {{#if (not (eq system.activeTitle ""))}}<span> - {{system.activeTitle}}</span>{{/if}}
              {{#if settings.showExperience}}
              <div class="experience-border"><div class="experience-bar" style="width:{{system.experiencePercentage}}%;"></div></div>
              {{/if}}
            </div>
        </div>
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  {{> "systems/ffxiv/templates/actor/parts/tabs.hbs" displayLimited=true limited=limited
    items=(characterTabs settings)
  }}


  <div class="sheet-body-wrapper {{#if hidingSidebar}}full-width{{/if}}">
    <!-- The fixed part to the left -->
    {{> "systems/ffxiv/templates/actor/parts/actor-sidebar.hbs"}}

    <div class="arrow-sidebar">
      <div class="fa {{#if hidingSidebar}}fa-right{{else}}fa-left{{/if}}"></div>
    </div>
  {{!-- Sheet Body --}}
    <section class="sheet-body">

      {{!-- Fight Tab --}}
      <div class="tab abilities" data-group="primary" data-tab="abilities">
            {{> "systems/ffxiv/templates/actor/parts/actor-abilities.hbs" }}
      </div>

      {{!-- Biography Tab --}}
      <div class="tab attributes" data-group="primary" data-tab="attributes">
        {{> "systems/ffxiv/templates/actor/parts/actor-attributes.hbs" }}
      </div>

      {{!-- Biography Tab --}}
      <div class="tab profile" data-group="primary" data-tab="roleplay">
        {{> "systems/ffxiv/templates/actor/parts/actor-profile.hbs" }}
      </div>

      {{!-- Gear Tab --}}
      {{#if settings.showGear}}
      <div class="tab gear" data-group="primary" data-tab="gear">
         {{> "systems/ffxiv/templates/actor/parts/actor-gear.hbs"}}
      </div>
      {{/if}}

      {{!-- Owned Items Tab --}}
      <div class="tab items" data-group="primary" data-tab="items">
         {{> "systems/ffxiv/templates/actor/parts/actor-items.hbs"}}
      </div>

      {{!-- Companions Tab --}}
      <div class="tab items" data-group="primary" data-tab="companions">
         {{> "systems/ffxiv/templates/actor/parts/actor-companions.hbs"}}
      </div>

      {{!-- Configuration Tab --}}
      <div class="tab settings" data-group="primary" data-tab="settings">
        {{> "systems/ffxiv/templates/actor/parts/actor-settings.hbs"}}
      </div>

    </section>
  </div>
</form>
