<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-npc-header">
    <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
    <div class="sheet-npc-header-left">
      <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}"/>
    </div>
    <div class="sheet-npc-header-right">
      <div class="header-fields">
        {{> "systems/ffxiv/templates/actor/parts/actor-npc-statblock.hbs"}}
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs nav-sub-tabs" data-group="primary">
    <a class="sub-tab" data-tab="fight">{{ localize "FFXIV.Abilities.Abilities" }}<div class="chip"></div></a>
    <a class="sub-tab" data-tab="traits">{{ localize "FFXIV.Abilities.TraitsShort" }}<div class="chip"></div></a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    <div class="tab fight actor-abilities" data-group="primary" data-tab="fight">
      {{#each (sortAbilities items system.ability_order "primary_ability")}}
        <div class="ability-container">
          {{> "systems/ffxiv/templates/actor/parts/actor-card-abilities.hbs" this}}
          <div class="move-buttons">
            {{#unless @first}}<button class="move-up" data-item-id="{{_id}}" data-type="primary_ability">▲</button>{{/unless}}
            {{#unless @last}}<button class="move-down" data-item-id="{{_id}}" data-type="primary_ability">▼</button>{{/unless}}
          </div>
        </div>
      {{/each}}

      {{#each (sortAbilities items system.ability_order "secondary_ability")}}
        <div class="ability-container">
          {{> "systems/ffxiv/templates/actor/parts/actor-card-abilities.hbs" this}}
          <div class="move-buttons">
            {{#unless @first}}<button class="move-up" data-item-id="{{_id}}" data-type="secondary_ability">▲</button>{{/unless}}
            {{#unless @last}}<button class="move-down" data-item-id="{{_id}}" data-type="secondary_ability">▼</button>{{/unless}}
          </div>
        </div>
      {{/each}}

      {{#each (sortAbilities items system.ability_order "instant_ability")}}
        <div class="ability-container">
          {{> "systems/ffxiv/templates/actor/parts/actor-card-abilities.hbs" this}}
          <div class="move-buttons">
            {{#unless @first}}<button class="move-up" data-item-id="{{_id}}" data-type="instant_ability">▲</button>{{/unless}}
            {{#unless @last}}<button class="move-down" data-item-id="{{_id}}" data-type="instant_ability">▼</button>{{/unless}}
          </div>
        </div>
      {{/each}}
    </div>

    <div class="tab traits actor-abilities" data-group="primary" data-tab="traits">
      {{#each (reverse items)}}
        {{#if (eq type "limit_break")}}
          {{> "systems/ffxiv/templates/actor/parts/actor-card-limitbreak.hbs" this}}
        {{/if}}
      {{/each}}

      {{#each (sortAbilities items system.ability_order "trait")}}
        <div class="ability-container">
          {{> "systems/ffxiv/templates/actor/parts/actor-card-traits.hbs" this}}
          <div class="move-buttons">
            {{#unless @first}}<button class="move-up" data-item-id="{{_id}}" data-type="trait">▲</button>{{/unless}}
            {{#unless @last}}<button class="move-down" data-item-id="{{_id}}" data-type="trait">▼</button>{{/unless}}
          </div>
        </div>
      {{/each}}
    </div>
  </section>
</form>
