<div class='{{cssClass}} pet'>
  <header class='sheet-header'>
    <img
      class='profile-img actor-avatar'
      src='{{actor.img}}'
      {{#if actorEditMode}}data-edit='img'{{/if}}
      title='{{actor.name}}'
      alt='avatar'
    />
    <div class='header-fields'>
      <h1 class='charname'>
        {{#if actorEditMode}}
          <input name='name' type='text' value='{{actor.name}}' placeholder='Name' />
        {{else}}
          {{actor.name}}
        {{/if}}
      </h1>
      <div class="pet-header-fields">
        <div class="pet-header-speed">
          <img src="{{settings.attributesImgSpeed}}" alt="{{ localize "FFXIV.Attributes.Speed" }}">
          <p class="s-attribute-value attribute-display-text">{{ localize "FFXIV.Attributes.Speed" }}:</p>
          {{#if actorEditMode}}
            <input type="number" class="s-attribute-value pet-speed-number" name="system.speed.value" value="{{ system.speed.value }}">
          {{else}}
            <span class="s-attribute-value pet-speed-number actor-locked">{{system.speed.value}}</span>
          {{/if}}
        </div>
      </div>
    </div>
    {{#if editable}}
      <button type="button" class="actor-edit-toggle {{#if actorEditMode}}active{{/if}}" aria-label="{{localize 'FFXIV.CharacterSheet.EditSheet'}}" aria-pressed="{{#if actorEditMode}}true{{else}}false{{/if}}" title="{{#if actorEditMode}}{{localize 'FFXIV.CharacterSheet.LockSheet'}}{{else}}{{localize 'FFXIV.CharacterSheet.EditSheet'}}{{/if}}">
        <i class="fa-solid {{#if actorEditMode}}fa-lock-open{{else}}fa-lock{{/if}}"></i>
      </button>
    {{/if}}
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs nav-sub-tabs" data-group="primary">
    {{#if editable}}
      <button type="button" class="npc-add-ability" title="Add Ability">
        <i class="fa-solid fa-plus"></i>
      </button>
    {{/if}}
    <a class="sub-tab" data-tab="fight">{{ localize "FFXIV.Abilities.Abilities" }}<div class="chip"></div></a>
    <a class="sub-tab" data-tab="traits">{{ localize "FFXIV.Abilities.TraitsShort" }}<div class="chip"></div></a>
  </nav>

  {{! Sheet Body }}
  <section class='sheet-body'>

    <div class="tab fight actor-abilities" data-group="primary" data-tab="fight">
      {{#each (sortAbilities items system.ability_order "primary_ability")}}
        <div class="ability-container">
          {{> "systems/ffxiv/templates/actor/parts/actor-card-abilities.hbs" this}}
          <div class="move-buttons">
            {{#unless @first}}<button type="button" class="move-up" data-item-id="{{_id}}" data-type="primary_ability">▲</button>{{/unless}}
            {{#unless @last}}<button type="button" class="move-down" data-item-id="{{_id}}" data-type="primary_ability">▼</button>{{/unless}}
          </div>
        </div>
      {{/each}}

      {{#each (sortAbilities items system.ability_order "secondary_ability")}}
        <div class="ability-container">
          {{> "systems/ffxiv/templates/actor/parts/actor-card-abilities.hbs" this}}
          <div class="move-buttons">
            {{#unless @first}}<button type="button" class="move-up" data-item-id="{{_id}}" data-type="secondary_ability">▲</button>{{/unless}}
            {{#unless @last}}<button type="button" class="move-down" data-item-id="{{_id}}" data-type="secondary_ability">▼</button>{{/unless}}
          </div>
        </div>
      {{/each}}

      {{#each (sortAbilities items system.ability_order "instant_ability")}}
        <div class="ability-container">
          {{> "systems/ffxiv/templates/actor/parts/actor-card-abilities.hbs" this}}
          <div class="move-buttons">
            {{#unless @first}}<button type="button" class="move-up" data-item-id="{{_id}}" data-type="instant_ability">▲</button>{{/unless}}
            {{#unless @last}}<button type="button" class="move-down" data-item-id="{{_id}}" data-type="instant_ability">▼</button>{{/unless}}
          </div>
        </div>
      {{/each}}
    </div>

    <div class="tab traits actor-abilities" data-group="primary" data-tab="traits">
      {{#each (sortAbilities items system.ability_order "trait")}}
        <div class="ability-container">
          {{> "systems/ffxiv/templates/actor/parts/actor-card-traits.hbs" this}}
          <div class="move-buttons">
            {{#unless @first}}<button type="button" class="move-up" data-item-id="{{_id}}" data-type="trait">▲</button>{{/unless}}
            {{#unless @last}}<button type="button" class="move-down" data-item-id="{{_id}}" data-type="trait">▼</button>{{/unless}}
          </div>
        </div>
      {{/each}}
    </div>

  </section>
</div>
