<form class='{{cssClass}} pet' autocomplete='off'>
  <header class='sheet-header'>
    <img
      class='profile-img'
      src='{{actor.img}}'
      data-edit='img'
      title='{{actor.name}}'
    />
    <div class='header-fields'>
      <h1 class='charname'><input
          name='name'
          type='text'
          value='{{actor.name}}'
          placeholder='Name'
        /></h1>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs nav-sub-tabs" data-group="primary">
    <a class="sub-tab" data-tab="fight">{{ localize "FFXIV.Abilities.Abilities" }}<div class="chip"></div></a>
    <a class="sub-tab" data-tab="info">{{ localize "FFXIV.CharacterSheet.Info" }}<div class="chip"></div></a>
  </nav>

  {{! Sheet Body }}
  <section class='sheet-body'>

    <div class="tab fight actor-abilities" data-group="primary" data-tab="fight">
      {{#each (sortAbilities items system.ability_order "primary_ability")}}
        <div class="ability-container">
          {{> "systems/ffxiv/templates/actor/parts/actor-card-abilities.hbs" this}}
          <div class="move-buttons">
            {{#unless @first}}<button class="move-up" data-item-id="{{_id}}" data-type="primary_ability">▲</button>{{/unless}}
            {{#unless @last}}<button class="move-down" data-item-id="{{_id}}" data-type="primary_ability">▼</button>{{/unless}}
          </div>
        </div>
      {{/each}}

      {{#each (sortAbilities items system.ability_order "secondary_ability")}}
        <div class="ability-container">
          {{> "systems/ffxiv/templates/actor/parts/actor-card-abilities.hbs" this}}
          <div class="move-buttons">
            {{#unless @first}}<button class="move-up" data-item-id="{{_id}}" data-type="secondary_ability">▲</button>{{/unless}}
            {{#unless @last}}<button class="move-down" data-item-id="{{_id}}" data-type="secondary_ability">▼</button>{{/unless}}
          </div>
        </div>
      {{/each}}

      {{#each (sortAbilities items system.ability_order "instant_ability")}}
        <div class="ability-container">
          {{> "systems/ffxiv/templates/actor/parts/actor-card-abilities.hbs" this}}
          <div class="move-buttons">
            {{#unless @first}}<button class="move-up" data-item-id="{{_id}}" data-type="instant_ability">▲</button>{{/unless}}
            {{#unless @last}}<button class="move-down" data-item-id="{{_id}}" data-type="instant_ability">▼</button>{{/unless}}
          </div>
        </div>
      {{/each}}
    </div>

    <div class="tab info" data-group="primary" data-tab="info">
      <div class='attributes'>
        <div class="pet-attributes-container">

          <div class="s-attribute-card">
            <div class="s-attribute-header">
              <img src="{{settings.attributesImgSpeed}}">
              <div class="s-attribute-name">{{ localize "FFXIV.Attributes.Speed" }}</div>
            </div>
            <div class="s-attribute-info">
              <input type="number" class="s-attribute-value" name="system.speed.value" value="{{ system.speed.value }}">
              <input type="text" class="s-attribute-value" name="system.speed.unit" value="{{ system.speed.unit }}">
            </div>
          </div>

          <div class="resources grid grid-1col">
            <div class="resource flex-group-center">
              <label class="resource-label">{{ localize "FFXIV.Abilities.TraitsShort" }}</label>
              <div class="resource-content flexrow flex-center flex-between">
                {{editor
                  enriched.traits
                  target='system.traits'
                  engine='prosemirror'
                  button=true
                  editable=editable
                }}
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>
</form>
