<div class="{{cssClass}} {{actor.type}} flexcol">
  {{!-- Sheet Header --}}
  <header class="sheet-npc-header npc-disposition-{{npcHeaderDisposition}}">
    <div class="charname">
      {{#if actorEditMode }}
        <h1>
          <input name="name"
                 type="text"
                 value="{{actor.name}}"
                 placeholder="{{localize 'FFXIV.Name'}}" />
        </h1>
      {{else}}
        <h1>{{actor.name}}</h1>
      {{/if}}
    </div>
    {{#if editable }}
    <button type="button"
            class="actor-edit-toggle {{#if actorEditMode }}active{{/if }}"
            aria-label="{{localize 'FFXIV.CharacterSheet.EditSheet'}}"
            aria-pressed="{{#if actorEditMode }}true{{else }}false{{/if}}"
            title="{{#if actorEditMode }}{{localize 'FFXIV.CharacterSheet.LockSheet' }}{{else}}{{localize 'FFXIV.CharacterSheet.EditSheet'}}{{/if}}">
      <i class="fa-solid {{#if actorEditMode }}fa-lock-open{{else }}fa-lock{{/if}}"></i>
    </button>
  {{/if}}
  <div class="sheet-npc-header-left">
    <img class="profile-img actor-avatar"
         src="{{actor.img}}"
         {{#if actorEditMode }}
         data-edit="img"
         {{/if }}
         title="{{actor.name}}"
         alt="avatar"  width="32" height="32" />
  </div>
  <div class="sheet-npc-header-right">
    <div class="header-fields">{{> "systems/ffxiv/templates/actor/parts/actor-npc-statblock.hbs"}}</div>
  </div>
</header>
{{!-- Sheet Tab Navigation --}}
<nav class="sheet-tabs nav-sub-tabs npc-sheet-tabs" data-group="primary">
  <a class="sub-tab" data-tab="fight">
    <i class="fa-solid fa-burst" aria-hidden="true"></i>
    {{ localize "FFXIV.Abilities.Abilities" }}
    <div class="chip"></div>
  </a>
  <a class="sub-tab" data-tab="traits">
    <i class="fa-solid fa-scroll" aria-hidden="true"></i>
    {{ localize "FFXIV.Abilities.TraitsShort" }}
    <div class="chip"></div>
  </a>
  <a class="sub-tab" data-tab="effects">
    <i class="fa-solid fa-wand-magic-sparkles" aria-hidden="true"></i>
    {{ localize "FFXIV.CharacterSheet.Effects" }}
    <div class="chip"></div>
  </a>
</nav>
<div class="sheet-body-wrapper">
  {{!-- Sheet Body --}}
  <section class="sheet-body modern-tab-layout">
    <div class="tab fight actor-abilities actor-player-abilities modern-panel"
       data-group="primary"
       data-tab="fight">
    {{#if editable }}
      <button type="button"
              class="npc-add-ability npc-create-item"
              aria-label="Create an ability"
              title="Create an ability">
        <i class="fa-solid fa-plus"></i>
      </button>
    {{/if}}
    {{#each primary_abilities}}
      <div class="ability-container {{#if comboSource}}combo-source{{/if}} {{#if comboTarget}}combo-target{{/if}} {{#if comboBranch}}combo-branch{{/if}}">
        {{> "systems/ffxiv/templates/actor/parts/actor-card-abilities.hbs" this}}
        {{#if showMoveControls}}
        <div class="move-buttons combo-move-buttons">
          {{#if canMoveGroupUp}}
          <button type="button"
                  class="move-up"
                  data-item-id="{{_id}}"
                  data-type="primary_ability"
                  aria-label="{{localize 'FFXIV.MoveUp'}}">
            <i class="fa-solid fa-chevron-up" aria-hidden="true"></i>
          </button>
        {{/if}}
        {{#if canMoveGroupDown}}
        <button type="button"
                class="move-down"
                data-item-id="{{_id}}"
                data-type="primary_ability"
                aria-label="{{localize 'FFXIV.MoveDown'}}">
          <i class="fa-solid fa-chevron-down" aria-hidden="true"></i>
        </button>
      {{/if}}
    </div>
    {{/if}}
  </div>
{{/each}}
{{#each secondary_abilities}}
  <div class="ability-container {{#if comboSource}}combo-source{{/if}} {{#if comboTarget}}combo-target{{/if}} {{#if comboBranch}}combo-branch{{/if}}">
    {{> "systems/ffxiv/templates/actor/parts/actor-card-abilities.hbs" this}}
    {{#if showMoveControls}}
    <div class="move-buttons combo-move-buttons">
      {{#if canMoveGroupUp}}
      <button type="button"
              class="move-up"
              data-item-id="{{_id}}"
              data-type="secondary_ability"
              aria-label="{{localize 'FFXIV.MoveUp'}}">
        <i class="fa-solid fa-chevron-up" aria-hidden="true"></i>
      </button>
    {{/if}}
    {{#if canMoveGroupDown}}
    <button type="button"
            class="move-down"
            data-item-id="{{_id}}"
            data-type="secondary_ability"
            aria-label="{{localize 'FFXIV.MoveDown'}}">
      <i class="fa-solid fa-chevron-down" aria-hidden="true"></i>
    </button>
  {{/if}}
</div>
{{/if}}
</div>
{{/each}}
{{#each instant_abilities}}
  <div class="ability-container {{#if comboSource}}combo-source{{/if}} {{#if comboTarget}}combo-target{{/if}} {{#if comboBranch}}combo-branch{{/if}}">
    {{> "systems/ffxiv/templates/actor/parts/actor-card-abilities.hbs" this}}
    {{#if showMoveControls}}
    <div class="move-buttons combo-move-buttons">
      {{#if canMoveGroupUp}}
      <button type="button"
              class="move-up"
              data-item-id="{{_id}}"
              data-type="instant_ability"
              aria-label="{{localize 'FFXIV.MoveUp'}}">
        <i class="fa-solid fa-chevron-up" aria-hidden="true"></i>
      </button>
    {{/if}}
    {{#if canMoveGroupDown}}
    <button type="button"
            class="move-down"
            data-item-id="{{_id}}"
            data-type="instant_ability"
            aria-label="{{localize 'FFXIV.MoveDown'}}">
      <i class="fa-solid fa-chevron-down" aria-hidden="true"></i>
    </button>
  {{/if}}
</div>
{{/if}}
</div>
{{/each}}
{{#unless hasNpcFightAbilities}}
  <div class="abilities-empty-hint">
    {{#if actorEditMode}}
      Drag an Ability item onto this sheet, or use the create button.
    {{else}}
      No abilities yet. Enable edit mode to create one, or drag an Ability item onto this sheet.
    {{/if}}
  </div>
{{/unless}}
  </div>
  <div class="tab traits actor-abilities actor-player-abilities modern-panel"
     data-group="primary"
     data-tab="traits">
  {{#if editable }}
    <button type="button"
            class="npc-add-ability npc-create-item"
            aria-label="Create a trait"
            title="Create a trait">
      <i class="fa-solid fa-plus"></i>
    </button>
  {{/if}}
  {{#each (reverse items) }}
    {{#if (isAbilitySubtype this "limit_break") }}
      {{> "systems/ffxiv/templates/actor/parts/actor-card-limitbreak.hbs" this}}
    {{/if}}
  {{/each}}
{{#each (sortAbilities items system.ability_order "trait") }}
    <div class="ability-container">
      {{> "systems/ffxiv/templates/actor/parts/actor-card-traits.hbs" this}}
      <div class="move-buttons">
        {{#unless @first}}
        <button type="button"
                class="move-up"
                data-item-id="{{_id}}"
                data-type="trait"
                aria-label="{{localize 'FFXIV.MoveUp'}}">
          <i class="fa-solid fa-chevron-up" aria-hidden="true"></i>
        </button>
      {{/unless}}
      {{#unless @last}}
      <button type="button"
              class="move-down"
              data-item-id="{{_id}}"
              data-type="trait"
              aria-label="{{localize 'FFXIV.MoveDown'}}">
        <i class="fa-solid fa-chevron-down" aria-hidden="true"></i>
      </button>
    {{/unless}}
  </div>
</div>
{{/each}}
{{#unless hasNpcTraitAbilities}}
  <div class="abilities-empty-hint">
    {{#if actorEditMode}}
      Drag a Trait or Limit Break onto this sheet, or use the create button.
    {{else}}
      No traits yet. Enable edit mode to create one, or drag a Trait/Limit Break onto this sheet.
    {{/if}}
  </div>
{{/unless}}
  </div>
  <div class="tab effects modern-panel"
     data-group="primary"
     data-tab="effects">
    {{> "systems/ffxiv/templates/actor/parts/actor-effects.hbs"}}
  </div>
  </section>
</div>
</div>
