<div class="item-card"
     data-item-id="{{item._id}}"
     data-item-uuid="{{item.uuid}}"
     data-actor-id="{{item.parent._id}}"
     data-actor-uuid="{{item.parent.uuid}}">
  <div class="item-card-info">
    <img src="{{item.img}}" alt="{{item.name}}" class="item-dialog-icon" width="48" height="48">
    <div class="item-dialog-header">
      <div class="item-dialog-name {{rarityTextClass item.system.rarity}}">{{item.name}}</div>
      <div class="item-dialog-right">
        <div class="item-dialog-tags">
          {{#each (actionTags item.type item.system.tags) as |tag| }}
            <span class="tag">{{localize tag}}</span>
          {{/each}}
        </div>
      </div>
    </div>
    {{#if (eq item.type "minion") }}
      <div class="item-dialog-details minion-typeline">
        <div class="detail">
          <strong>{{ localize "FFXIV.Item.MinionType" }}:</strong>
          {{localize item.system.minion_type}}
        </div>
      </div>
    {{/if}}
    <div class="item-dialog-effects">
      {{#if (eq item.type "minion") }}
        {{#if (hasContent item.system.traits) }}
          <div class="effect minion-traits">
            <strong>{{ localize "FFXIV.Abilities.TraitsShort" }}:</strong> <span class="minion-traits-text">{{{item.system.traits}}}</span>
          </div>
        {{/if}}
        {{#if (hasContent item.system.description) }}
          <div class="effect minion-flavor">
            <em>{{{item.system.description}}}</em>
          </div>
        {{/if}}
      {{else}}
        {{#if item.system.base_effect }}
          <div class="effect">
            <strong>{{ localize "FFXIV.Abilities.BaseEffect" }}:</strong> {{item.system.base_effect}}
          </div>
        {{/if}}
        {{#if item.system.target }}
          <div class="effect">
            <strong>{{ localize "FFXIV.Abilities.Target" }}:</strong> {{item.system.target}}
          </div>
        {{/if}}
        {{#if item.system.range }}
          <div class="effect">
            <strong>{{ localize "FFXIV.Abilities.Range" }}:</strong> {{item.system.range}}
          </div>
        {{/if}}
        {{#if (and (not (eq item.system.check "None")) eq item.system.check) }}
          <div class="effect">
            <strong>{{ localize "FFXIV.Abilities.Check" }}:</strong> {{localize item.system.check}}
          </div>
        {{/if}}
        {{#if item.system.challenge }}
          <div class="effect">
            <strong>{{ localize "FFXIV.Abilities.Challenge" }}:</strong> {{item.system.challenge}}
          </div>
        {{/if}}
        {{#if item.system.trigger }}
          <div class="effect">
            <strong>{{ localize "FFXIV.Abilities.Trigger" }}:</strong> {{item.system.trigger}}
          </div>
        {{/if}}
        {{#if item.system.combo }}
          {{> "systems/ffxiv/templates/item/parts/combo-chain.hbs" combo=item.system.combo current=item.name showLabel=true}}
        {{/if}}
        {{#if item.system.condition }}
          <div class="effect">
            <strong>{{ localize "FFXIV.Abilities.Condition" }}:</strong> {{item.system.condition}}
          </div>
        {{/if}}
        {{#if item.system.direct_hit }}
          <div class="effect">
            <strong>{{ localize "FFXIV.Abilities.DirectHit" }}:</strong> {{item.system.direct_hit}}
          </div>
        {{/if}}
        {{#if item.system.marker_trigger }}
          <div class="effect">
            <strong>{{ localize "FFXIV.Abilities.MarkerTrigger" }}:</strong> {{item.system.marker_trigger}}
          </div>
        {{/if}}
        {{#if item.system.marker_area }}
          <div class="effect">
            <strong>{{ localize "FFXIV.Abilities.MarkerArea" }}:</strong> {{item.system.marker_area}}
          </div>
        {{/if}}
        {{#if item.system.marker_effect }}
          <div class="effect">
            <strong>{{ localize "FFXIV.Abilities.MarkerEffect" }}:</strong> {{item.system.marker_effect}}
          </div>
        {{/if}}
        {{#if item.system.description }}
          <div class="effect">{{{item.system.description}}}</div>
        {{/if}}
      {{/if}}
    </div>
  </div>
</div>
