<div class='{{cssClass}} limited-display'>
  <div class="item-card">
    <div class="item-card-info">
      <img src="{{item.img}}" alt="{{item.name}}" class="item-dialog-icon">
      <div class="item-dialog-header">
        <div class="item-dialog-name {{rarityTextClass item.system.rarity}}">
          {{item.name}}
        </div>
        <div class="item-dialog-right">
          <div class="item-dialog-tags">
            {{#each system.tags as |tag|}}
              <span class="tag">{{localize tag}}{{#unless @last}}, {{/unless}}</span>
            {{/each}}
          </div>
        </div>
      </div>

      <div class="item-dialog-details item-dialog-summary">
        {{#if (hasItemQuality item.system)}}<div class="detail"><strong>{{localize (itemQualityLabelKey item.system)}}:</strong> {{itemQualityDisplay item.system}}</div>{{/if}}
        {{#if (not (eq item.system.price.buy 0))}}<div class="detail"><strong>{{ localize "FFXIV.Item.Buy" }}:</strong> {{item.system.price.buy}}{{#if item.system.price.denomination}} {{localize item.system.price.denomination}}{{/if}}</div>{{/if}}
        {{#if item.system.target}}<div class="detail"><strong>{{ localize "FFXIV.Abilities.Target" }}:</strong> {{{enriched.target}}}</div>{{/if}}
        {{#if item.system.range}}<div class="detail"><strong>{{ localize "FFXIV.Abilities.Range" }}:</strong> {{{enriched.range}}}</div>{{/if}}
        {{#if item.system.marker_area}}<div class="detail"><strong>{{ localize "FFXIV.Abilities.MarkerArea" }}:</strong> {{{enriched.marker_area}}}</div>{{/if}}
      </div>


      <div class="item-dialog-effects item-dialog-effects-stacked">
        {{#if item.system.condition}}<div class="effect"><strong>{{ localize "FFXIV.Abilities.Condition" }}:</strong> {{{enriched.condition}}}</div>{{/if}}
        {{#if item.system.base_effect}}<div class="effect"><strong>{{ localize "FFXIV.Abilities.BaseEffect" }}:</strong> {{{enriched.base_effect}}}</div>{{/if}}
        {{#if item.system.marker_trigger}}<div class="effect"><strong>{{ localize "FFXIV.Abilities.MarkerTrigger" }}:</strong> {{{enriched.marker_trigger}}}</div>{{/if}}
        {{#if item.system.marker_effect}}<div class="effect"><strong>{{ localize "FFXIV.Abilities.MarkerEffect" }}:</strong> {{{enriched.marker_effect}}}</div>{{/if}}
        {{#if (and (not (eq item.system.check "None")) (not (eq item.system.check ""))) }}<div class="effect"><strong>{{ localize "FFXIV.Abilities.Check" }}:</strong> {{localize item.system.check}}</div>{{/if}}
        {{#if item.system.challenge}}<div class="effect"><strong>{{ localize "FFXIV.Abilities.Challenge" }}:</strong> {{{enriched.challenge}}}</div>{{/if}}
        {{#if item.system.trigger}}<div class="effect"><strong>{{ localize "FFXIV.Abilities.Trigger" }}:</strong> {{{enriched.trigger}}}</div>{{/if}}
        {{#if item.system.direct_hit}}<div class="effect"><strong>{{ localize "FFXIV.Abilities.DirectHit" }}:</strong> {{{enriched.direct_hit}}}</div>{{/if}}
      </div>


      {{#if (hasContent enriched.description)}}
        <div class="item-dialog-description item-dialog-flavor">
          {{{enriched.description}}}
        </div>
      {{/if}}

      <div class="quantity-form">
      {{#if system.stack}}
        <div class="detail"><strong>{{ localize "FFXIV.Item.Quantity" }} :</strong></div> <button type="button" class="item-qty-btn item-qty-btn-rm">-</button> {{ item.system.quantity }} <button type="button" class="item-qty-btn item-qty-btn-add">+</button>
      {{else}}
        <div class="detail"><strong>{{ localize "FFXIV.Item.Delete" }} :</strong></div> <button type="button" class="item-qty-btn delete" aria-label="{{localize 'FFXIV.Item.Delete'}}"><i class="fa-solid fa-trash-can"></i></button>
      {{/if}}
      </div>

      {{#if (or system.base_formula system.direct_formula)}}
      <button type="button" class="item-roll-button">{{ localize "FFXIV.CharacterSheet.Roll" }}</button>
      {{else}}
      <button type="button" class="item-roll-button">{{ localize "FFXIV.CharacterSheet.Show" }}</button>
      {{/if}}
    </div>
  </div>
</div>
