<div class="{{cssClass}} item-modern-sheet">
  {{#if editable }}
  <button type="button"
          class="actor-edit-toggle item-edit-toggle {{#if itemEditMode }}active{{/if }}"
          aria-label="{{localize 'FFXIV.CharacterSheet.EditSheet' }}"
          aria-pressed="{{#if itemEditMode }}true{{else }}false{{/if }}"
          title="{{#if itemEditMode }}{{localize 'FFXIV.CharacterSheet.LockSheet' }}{{else }}{{localize 'FFXIV.CharacterSheet.EditSheet'}}{{/if}}">
    <i class="fa-solid {{#if itemEditMode }}fa-lock-open{{else }}fa-lock{{/if }}"></i>
  </button>
  {{/if}}
  <header class="sheet-header">
    <img class="profile-img"
         src="{{item.img}}"
         {{#if itemEditMode }}
         data-edit="img"
         {{/if}}
         title="{{item.name}}"
         alt="{{item.name}}"
         width="96"
         height="96" />
    <div class="header-fields">
      <h1 class="charname">
        <input name="name" type="text" value="{{item.name}}" placeholder="Name" />
      </h1>
      {{#if itemEditMode }}
        <button type="button"
                class="item-delete"
                aria-label="{{localize 'FFXIV.Item.Delete'}}">
          <i class="fa-solid fa-trash-can"></i>
        </button>
      {{/if}}
    </div>
  </header>
  {{! Sheet Tab Navigation }}
  <nav class="sheet-tabs tabs item-sheet-tabs" data-group="primary">
    <a class="item" data-tab="description">
      <i class="fa-solid fa-circle-info"></i>
      {{ localize "FFXIV.Item.Description" }}
    </a>
    <a class="item" data-tab="attributes">
      <i class="fa-solid fa-sliders"></i>
      {{ localize "FFXIV.Attributes.Attributes" }}
    </a>
  </nav>
  {{! Sheet Body }}
  <section class="sheet-body">
    {{! Description Tab }}
    <div class="tab" data-group="primary" data-tab="description">
      <section class="item-modern-panel">
        <header class="ability-panel-header">
          <h2>{{ localize "FFXIV.Item.Description" }}</h2>
        </header>
        {{! Editors must receive enriched text data from getData to properly handle rolls }}
        {{#if itemEditMode }}
          <prose-mirror name="system.description" value="{{source.description}}" document-uuid="{{item.uuid}}" class="sized"></prose-mirror>
        {{else}}
          {{#if (hasContent enrichedDescription) }}
            <div class="profile-paragraph-block">{{{enrichedDescription}}}</div>
          {{else}}
            <span class="item-locked-field item-locked-field-empty">{{localize "FFXIV.None"}}</span>
          {{/if}}
        {{/if}}
      </section>
    </div>
    {{! Attributes Tab }}
    <div class="tab attributes" data-group="primary" data-tab="attributes">
      {{! As you add new fields, add them in here! }}
    </div>
  </section>
</div>
