{{! This template is a fallback for when items don't have more specific templates. }}
{{! Generally, you'll want to make more specific templates when possible. }}
<form class='{{cssClass}}' autocomplete='off'>
  <header class='sheet-header'>
    <img
      class='profile-img'
      src='{{item.img}}'
      data-edit='img'
      title='{{item.name}}'
    />
    <div class='header-fields'>
      <h1 class='charname'><input
          name='name'
          type='text'
          value='{{item.name}}'
          placeholder='Name'
        /></h1>
    </div>
    <button class="item-delete fa fa-trash-can"></button>
  </header>

  {{! Sheet Body }}
  <section class='sheet-body'>

    <div class="resources grid grid-3col">

      <div class="resource flex-group-center">
        <label for="system.category" class="resource-label">{{ localize "FFXIV.GearCategories.Category" }}</label>
        <div class="resource-content flexrow flex-center flex-between">
          <select style="text-align: center;" name="system.category">
            {{#each this.config.gear_subcategories as |a|}}
            <option value="{{a.label}}" {{#if (eq a.label ../item.system.category)}}selected {{/if}}>{{ localize a.label }}</option>
            {{/each}}
          </select>
        </div>
      </div>

      <div class="resource flex-group-center">
        <label for="system.level" class="resource-label">{{ localize "FFXIV.Level" }}</label>
        <div class="resource-content flexrow flex-center flex-between">
          <input type="text" name="system.level" value="{{ system.level }}">
        </div>
      </div>

      {{#if settings.useRarity}}
      <div class="resource flex-group-center">
        <label for="system.rarity" class="resource-label">{{ localize "FFXIV.Item.Rarity" }}</label>
        <div class="resource-content flexrow flex-center flex-between">
          <select style="text-align: center;" name="system.rarity">
            {{#each this.config.rarities as |a|}}
            <option value="{{a.label}}" {{#if (eq a.label ../item.system.rarity)}}selected {{/if}}>{{ localize a.label }}</option>
            {{/each}}
          </select>
        </div>
      </div>
      {{/if}}

      <div class="resource flex-group-center">
        <label for="item.system.shop_tier" class="resource-label">{{ localize "FFXIV.Item.ShopTier" }}</label>
        <div class="resource-content flexrow flex-center flex-between">
          <input name="item.system.shop_tier" type="number" value="{{item.system.shop_tier}}"/>
        </div>
      </div>

    </div>
    <div class="resources grid grid-2col">

      <div class="resource flex-group-center">
        <label for="system.price.buy" class="resource-label">{{ localize "FFXIV.Item.Buy" }}</label>
        <div class="resource-content flexrow flex-center flex-between">
          <input name="system.price.buy" type="number" value="{{item.system.price.buy}}"/>
        </div>
      </div>

      <div class="resource flex-group-center">
        <label for="system.price.sell" class="resource-label">{{ localize "FFXIV.Item.Sell" }}</label>
        <div class="resource-content flexrow flex-center flex-between">
          <input name="system.price.sell" type="number" value="{{item.system.price.sell}}"/>
        </div>
      </div>

      <div class="resource flex-group-center">
        <label for="system.price.denomination" class="resource-label">{{ localize "FFXIV.Item.Denomination" }}</label>
        <div class="resource-content flexrow flex-center flex-between">
          <input name="system.price.denomination" type="text" value="{{localize item.system.price.denomination}}"/>
        </div>
      </div>

      <div class="resource flex-group-center">
        <label for="system.weight" class="resource-label">{{ localize "FFXIV.Item.Weight" }}</label>
        <div class="resource-content flexrow flex-center flex-between">
          <input name="system.weight" type="text" value="{{item.system.weight}}"/>
        </div>
      </div>

    </div>
    <div class="tags-container">
      <label for="system.tags" class="resource-label">{{ localize "FFXIV.Item.JobRequirement" }}</label> <button type="button" class="add-class">+</button>
      <ul class="tag-list">
        {{#each system.classes as |class index|}}
          <li>
            <select style="text-align: center;" class="select-classes">
              {{#each ../settings.jobsAbbrv as |c|}}
              <option value="{{c}}" {{#if (eq c class)}}selected {{/if}}>{{ localize c }}</option>
              {{/each}}
            </select>
            <button type="button" class="remove-class" data-index="{{index}}">x</button>
          </li>
        {{/each}}
      </ul>
    </div>

    <div class="tags-container">
      <label for="system.modifiers" class="resource-label">{{ localize "FFXIV.Item.Modifiers" }}</label> <button type="button" class="add-modifier">+</button>
      <ul class="tag-list">
        {{#each system.modifiers as |modifier index|}}
          <li>
            <select style="text-align: center;" class="modifier-name" data-index="{{index}}">
              {{#each ../config.attributes as |m|}}
              <option value="{{m.label}}" {{#if (eq m.label modifier.[0])}}selected {{/if}}>{{ localize m.label }}</option>
              {{/each}}
              {{#each ../config.characteristics as |m|}}
              <option value="{{m.label}}" {{#if (eq m.label modifier.[0])}}selected {{/if}}>{{ localize m.label }}</option>
              {{/each}}
            </select>
            <input type="text" class="modifier-value" value="{{modifier.[1]}}" data-index="{{index}}">
            <button type="button" class="remove-modifier" data-index="{{index}}">x</button>
          </li>
        {{/each}}
      </ul>
    </div>

    {{editor
      enrichedDescription
      target='system.description'
      engine='prosemirror'
      button=true
      editable=editable
    }}

  </section>
</form>
