<form class="ffxiv item-dialog" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{img}}" data-edit="img"/>
    <div class="header-fields">
      <h1 class="charname">{{name}}</h1>
    </div>
    <div class="container flex-group-center">
      {{ system.rarity }}
    </div>
    <div class="container flex-group-center">
      {{ system.weight }} kg
      {{ system.price.value }} {{ system.price.denomination }}
    </div>

  </header>
</form>
