<div class="{{cssClass}} item-modern-sheet">
  <header class="sheet-header">
    <img class="profile-img"
         src="{{item.img}}"
         {{#if itemEditMode }}
         data-edit="img"
         {{/if}}
         title="{{item.name}}"  alt="" width="32" height="32" />
    <div class="header-fields">
      <h1 class="charname">
        <input name="name" type="text" value="{{item.name}}" placeholder="Name" />
      </h1>
    </div>
    {{#if itemEditMode }}
    <button type="button"
            class="item-delete"
            aria-label="{{localize 'FFXIV.Item.Delete'}}">
      <i class="fa-solid fa-trash-can"></i>
    </button>
    {{/if}}
    {{#if editable }}
    <button type="button"
            class="actor-edit-toggle item-edit-toggle {{#if itemEditMode }}active{{/if }}"
            aria-label="{{localize 'FFXIV.CharacterSheet.EditSheet' }}"
            aria-pressed="{{#if itemEditMode }}true{{else }}false{{/if }}"
            title="{{#if itemEditMode }}{{localize 'FFXIV.CharacterSheet.LockSheet' }}{{else }}{{localize 'FFXIV.CharacterSheet.EditSheet'}}{{/if}}">
      <i class="fa-solid {{#if itemEditMode }}fa-lock-open{{else }}fa-lock{{/if }}"></i>
    </button>
    {{/if}}
  </header>
  <hr>
  {{! Sheet Body }}
  <section class="sheet-body">
    <nav class="sheet-tabs tabs" data-group="primary">
      <a class="item" data-tab="description">{{localize "FFXIV.CharacterSheet.Info"}}</a>
      <a class="item" data-tab="effects">{{localize "FFXIV.CharacterSheet.Effects"}}</a>
    </nav>
    <div class="tab description" data-group="primary" data-tab="description">
      <div class="attributes item-details-card">
      <div class="tags-container">
        <label for="system.tags" class="resource-label">{{ localize "FFXIV.Tags.Tags" }}</label>
        <button type="button" class="add-tag">+</button>
        <ul class="tag-list">
          <li>
            <select class="ffxiv-text-center select-subtype-tag" data-index="0">
              <option value="FFXIV.Tags.Primary"
                      {{#if (isAbilitySubtype item "primary_ability") }}
                      selected
                      {{/if}}>{{localize "FFXIV.Tags.Primary"}}
              </option>
              <option value="FFXIV.Tags.Secondary"
                      {{#if (isAbilitySubtype item "secondary_ability") }}
                      selected
                      {{/if}}>{{localize "FFXIV.Tags.Secondary"}}
              </option>
              <option value="FFXIV.Tags.Instant"
                      {{#if (isAbilitySubtype item "instant_ability") }}
                      selected
                      {{/if}}>{{localize "FFXIV.Tags.Instant"}}
              </option>
              <option value="Limit Break"
                      {{#if (isAbilitySubtype item "limit_break") }}
                      selected
                      {{/if}}>{{localize "FFXIV.ItemType.limit_break"}}
              </option>
            </select>
          </li>
          {{#each customTags as |entry| }}
            <li>
              <select class="ffxiv-text-center select-tags"
                      data-index="{{entry.index}}">
                {{#each ../config.tags_abilities as |t| }}
                  <option value="{{t.label}}" {{#if (eqTag t.label entry.tag) }}selected {{/if}}>{{ localize t.label }}
                  </option>
                {{/each}}
              </select>
              <button type="button"
                      class="remove-tag"
                      data-index="{{entry.index}}"
                      aria-label="{{localize 'FFXIV.Item.Delete'}}">
                <i class="fa-solid fa-trash-can"></i>
              </button>
            </li>
          {{/each}}
        </ul>
      </div>
      <hr>
      <div class="resources grid grid-3col">
        <div class="resource flex-group-center">
          <label for="system.cost" class="resource-label">{{ localize "FFXIV.Abilities.Cost" }}</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input name="system.cost" type="text" value="{{item.system.cost}}" />
          </div>
        </div>
        <div class="resource flex-group-center ability-target-field">
          <label for="system.target" class="resource-label">{{ localize "FFXIV.Abilities.Target" }}</label>
          <div class="resource-content flexrow flex-center flex-between">
            <textarea name="system.target" rows="3">{{item.system.target}}</textarea>
          </div>
        </div>
        <div class="resource flex-group-center ability-range-field">
          <label for="system.range" class="resource-label">{{ localize "FFXIV.Abilities.Range" }}</label>
          <div class="resource-content flexrow flex-center flex-between">
            <textarea name="system.range" rows="3">{{item.system.range}}</textarea>
          </div>
        </div>
        <div class="resource flex-group-center">
          <label for="system.check" class="resource-label">{{ localize "FFXIV.Abilities.Check" }}</label>
          <div class="resource-content flexrow flex-center flex-between">
            <select class="ffxiv-text-center" name="system.check">
              <option value="{{localize "FFXIV.None"}}">{{localize "FFXIV.None"}}</option>
              {{#each this.config.attributes as |a| }}
                <option value="{{a.label}}"
                        {{#if (eq a.label ../item.system.check) }}
                        selected
                        {{/if}}>{{ localize a.label }}
                </option>
              {{/each}}
              <option value="FFXIV.Special"
                      {{#if (eq "FFXIV.Special" item.system.check) }}
                      selected
                      {{/if}}>{{localize "FFXIV.Special"}}
              </option>
            </select>
          </div>
        </div>
        {{#if hasCheck }}
          <div class="resource flex-group-center">
            <label for="system.challenge" class="resource-label">{{ localize "FFXIV.Abilities.Challenge" }}</label>
            <div class="resource-content flexrow flex-center flex-between">
              <input name="system.challenge" type="text" value="{{item.system.challenge}}" />
            </div>
          </div>
        {{/if}}
        <div class="resource flex-group-center">
          <label for="system.trigger" class="resource-label">{{ localize "FFXIV.Abilities.Trigger" }}</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input name="system.trigger" type="text" value="{{item.system.trigger}}" />
          </div>
        </div>
        <div class="resource flex-group-center">
          <label for="system.condition" class="resource-label">{{ localize "FFXIV.Abilities.Condition" }}</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input name="system.condition" type="text" value="{{item.system.condition}}" />
          </div>
        </div>
      </div>
      <hr>
      <div class="resources grid grid-1col">
        <div class="resource flex-group-center">
          <label for="system.hit_formula" class="resource-label">{{ localize "FFXIV.Abilities.HitFormula" }}</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input name="system.hit_formula"
                   type="text"
                   value="{{item.system.hit_formula}}"
                   placeholder="1d20 + @str"
                   data-formula-source="hit" />
            <select class="ffxiv-text-center {{#unless (hasContent item.system.hit_formula)}}ffxiv-hidden{{/unless}}"
                    name="system.hit_formula_attribute"
                    data-formula-target="hit">
              <option value="">{{ localize "FFXIV.None" }}</option>
              {{#each this.config.formula_attributes as |attr| }}
                <option value="{{attr.value}}"
                        {{#if (eq attr.value ../item.system.hit_formula_attribute) }}
                        selected
                        {{/if}}>+ {{ localize attr.label }}
                </option>
              {{/each}}
            </select>
          </div>
        </div>
      </div>
      <div class="resources grid grid-2col">
        <div class="resource flex-group-center">
          <label for="system.base_effect" class="resource-label">{{ localize "FFXIV.Abilities.BaseEffect" }}</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input name="system.base_effect"
                   type="text"
                   value="{{item.system.base_effect}}" />
          </div>
        </div>
        <div class="resource flex-group-center">
          <label for="system.base_formula" class="resource-label">{{ localize "FFXIV.Abilities.BaseFormula" }}</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input name="system.base_formula"
                   type="text"
                   value="{{item.system.base_formula}}"
                   placeholder="3 + @dmg" />
          </div>
        </div>
        <div class="resource flex-group-center">
          <label for="system.direct_hit" class="resource-label">{{ localize "FFXIV.Abilities.DirectHit" }}</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input name="system.direct_hit"
                   type="text"
                   value="{{item.system.direct_hit}}" />
          </div>
        </div>
        <div class="resource flex-group-center">
          <label for="system.direct_formula" class="resource-label">{{ localize "FFXIV.Abilities.DirectFormula" }}</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input name="system.direct_formula"
                   type="text"
                   value="{{item.system.direct_formula}}"
                   placeholder="3 + 1d6 + @dmg"
                   data-formula-source="direct" />
            <select class="ffxiv-text-center {{#unless (hasContent item.system.direct_formula)}}ffxiv-hidden{{/unless}}"
                    name="system.direct_formula_attribute"
                    data-formula-target="direct">
              <option value="">{{ localize "FFXIV.None" }}</option>
              {{#each this.config.formula_attributes as |attr| }}
                <option value="{{attr.value}}"
                        {{#if (eq attr.value ../item.system.direct_formula_attribute) }}
                        selected
                        {{/if}}>+ {{ localize attr.label }}
                </option>
              {{/each}}
            </select>
          </div>
        </div>
        <div class="resource flex-group-center combo-resource">
          <label for="system.combo" class="resource-label">{{ localize "FFXIV.Abilities.Combo" }}</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input name="system.combo" type="text" value="{{item.system.combo}}" />
          </div>
          {{> "systems/ffxiv/templates/item/parts/combo-chain.hbs" combo=item.system.combo current=item.name}}
        </div>
        <div class="resource flex-group-center">
          <label for="system.hpcost" class="resource-label">{{ localize "FFXIV.Abilities.HPCost" }}</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input name="system.hpcost"
                   type="number"
                   min="0"
                   data-dtype="Number"
                   value="{{item.system.hpcost}}" />
          </div>
        </div>
        <div class="resource flex-group-center">
          <label for="system.mpcost" class="resource-label">{{ localize "FFXIV.Abilities.MPCost" }}</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input name="system.mpcost"
                   type="number"
                   min="0"
                   data-dtype="Number"
                   value="{{item.system.mpcost}}" />
          </div>
        </div>
        <div data-direct-hit-gate>
          <div class="resource flex-group-center">
            <label for="system.alternate_formula" class="resource-label">{{ localize "FFXIV.Abilities.AlternateFormula" }}</label>
            <div class="resource-content flexrow flex-center flex-between">
              <input name="system.alternate_formula"
                     type="text"
                     value="{{item.system.alternate_formula}}"
                     data-formula-source="alternate" />
              <select class="ffxiv-text-center {{#unless (hasContent item.system.alternate_formula)}}ffxiv-hidden{{/unless}}"
                      name="system.alternate_formula_attribute"
                      data-formula-target="alternate">
                <option value="">{{ localize "FFXIV.None" }}</option>
                {{#each this.config.formula_attributes as |attr| }}
                  <option value="{{attr.value}}"
                          {{#if (eq attr.value ../item.system.alternate_formula_attribute) }}
                          selected
                          {{/if}}>+ {{ localize attr.label }}
                  </option>
                {{/each}}
              </select>
            </div>
          </div>
          <div class="resource flex-group-center">
            <label for="system.alternate_formula_critical" class="resource-label">
              {{ localize "FFXIV.Abilities.AlternateFormulaCritical" }}
            </label>
            <div class="resource-content flexrow flex-center flex-between">
              <input name="system.alternate_formula_critical"
                     type="text"
                     value="{{item.system.alternate_formula_critical}}"
                     data-formula-source="alternate-critical" />
              <select class="ffxiv-text-center {{#unless (hasContent item.system.alternate_formula_critical)}}ffxiv-hidden{{/unless}}"
                      name="system.alternate_formula_critical_attribute"
                      data-formula-target="alternate-critical">
                <option value="">{{ localize "FFXIV.None" }}</option>
                {{#each this.config.formula_attributes as |attr| }}
                  <option value="{{attr.value}}"
                          {{#if (eq attr.value ../item.system.alternate_formula_critical_attribute) }}
                          selected
                          {{/if}}>+ {{ localize attr.label }}
                  </option>
                {{/each}}
              </select>
            </div>
          </div>
        </div>
      </div>
      {{#if hasMarkerTag }}
        <hr>
        <div class="resources grid grid-2col">
          <div class="resource flex-group-center">
            <label for="system.origin" class="resource-label">{{ localize "FFXIV.Abilities.MarkerOrigin" }}</label>
            <div class="resource-content flexrow flex-center flex-between">
              <input name="system.origin" type="text" value="{{item.system.origin}}" />
            </div>
          </div>
          <div class="resource flex-group-center">
            <label for="system.marker_trigger" class="resource-label">{{ localize "FFXIV.Abilities.MarkerTrigger" }}</label>
            <div class="resource-content flexrow flex-center flex-between">
              <input name="system.marker_trigger"
                     type="text"
                     value="{{item.system.marker_trigger}}" />
            </div>
          </div>
          <div class="resource flex-group-center">
            <label for="system.marker_area" class="resource-label">{{ localize "FFXIV.Abilities.MarkerArea" }}</label>
            <div class="resource-content flexrow flex-center flex-between">
              <input name="system.marker_area"
                     type="text"
                     value="{{item.system.marker_area}}" />
            </div>
          </div>
          <div class="resource flex-group-center">
            <label for="system.marker_effect" class="resource-label">{{ localize "FFXIV.Abilities.MarkerEffect" }}</label>
            <div class="resource-content flexrow flex-center flex-between">
              <input name="system.marker_effect"
                     type="text"
                     value="{{item.system.marker_effect}}" />
            </div>
          </div>
        </div>
      {{/if}}
      <hr>
      <div class="resources grid grid-2col">
        <div class="resource flex-group-center">
          <label for="system.limitations" class="resource-label">{{ localize "FFXIV.Abilities.LimitationsDescription" }}</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input name="system.limitations"
                   type="text"
                   value="{{item.system.limitations}}" />
          </div>
        </div>
        <div class="resource flex-group-center">
          <label for="system.job_resources_max" class="resource-label">{{ localize "FFXIV.Abilities.Limitations_max" }}</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input name="system.job_resources_max"
                   type="number"
                   min="0"
                   value="{{item.system.job_resources_max}}" />
          </div>
        </div>
      </div>
      {{> "systems/ffxiv/templates/item/parts/item-summons.hbs" }}
      </div>
    </div>
    <div class="tab effects" data-group="primary" data-tab="effects">
      <div class="attributes item-details-card">
        <div class="status-effects-editor">
          <div class="status-effects-header">
            <label class="resource-label">{{ localize "FFXIV.Abilities.BasicStatusEffect" }}</label>
            <button type="button" class="add-status-effect">+</button>
          </div>
          <ul class="status-effect-list">
            {{#each itemStatusEffects as |entry index| }}
              <li>
                <select class="ffxiv-text-center status-effect-id"
                        data-index="{{index}}">
                  <option value="" {{#unless entry.id}}selected{{/unless}}>{{ localize "FFXIV.None" }}
                  </option>
                  {{#each ../statusEffects as |effect| }}
                    <option value="{{effect.id}}" {{#if (eq effect.id entry.id) }}selected{{/if}}>
                      {{localize effect.label}}
                    </option>
                  {{/each}}
                </select>
                <select class="ffxiv-text-center status-effect-action"
                        data-index="{{index}}">
                  <option value="true" {{#if entry.action }}selected{{/if}}>{{ localize "FFXIV.Abilities.StatusAdd" }}
                  </option>
                  <option value="false" {{#unless entry.action}}selected{{/unless}}>{{ localize "FFXIV.Abilities.StatusRemove" }}
                  </option>
                </select>
                {{#if entry.stackable}}
                  <input class="ffxiv-text-center status-effect-stacks"
                         data-index="{{index}}"
                         type="number"
                         min="1"
                         value="{{entry.stacks}}"
                         title="{{localize 'FFXIV.Abilities.StatusStacks'}}" />
                {{else}}
                  <span></span>
                {{/if}}
                <select class="ffxiv-text-center status-effect-apply-mode"
                        data-index="{{index}}">
                  <option value="manual" {{#if (eq entry.applyMode "manual") }}selected{{/if}}>{{ localize "FFXIV.Abilities.StatusManualApply" }}
                  </option>
                  <option value="auto" {{#if (eq entry.applyMode "auto") }}selected{{/if}}>{{ localize "FFXIV.Abilities.StatusAutoApply" }}
                  </option>
                </select>
                <select class="ffxiv-text-center status-effect-apply-to"
                        data-index="{{index}}">
                  <option value="target" {{#if (eq entry.applyTo "target") }}selected{{/if}}>{{ localize "FFXIV.Abilities.ApplyToTarget" }}
                  </option>
                  <option value="self" {{#if (eq entry.applyTo "self") }}selected{{/if}}>{{ localize "FFXIV.Abilities.ApplyToSelf" }}
                  </option>
                </select>
                <button type="button" class="remove-status-effect" data-index="{{index}}">x</button>
              </li>
            {{/each}}
          </ul>
        </div>
        <hr>
        <div class="status-effects-editor">
          <div class="status-effects-header">
            <label class="resource-label">{{ localize "FFXIV.Abilities.LinkedActiveEffects" }}</label>
            <button type="button" class="effect-control linked-effect-create" data-action="create">+</button>
          </div>
          <ul class="status-effect-list ability-linked-effect-list">
            {{#each abilityLinkedEffects as |effect| }}
              <li class="{{#if effect.isAutomation}}ability-linked-effect-automation{{/if}}"
                  data-effect-id="{{effect.id}}">
                <div class="ability-effect-name">
                  <img src="{{effect.icon}}" alt="{{effect.name}}" />
                  <span>{{effect.name}}</span>
                </div>
                <select class="ffxiv-text-center ability-effect-scope"
                        data-effect-id="{{effect.id}}">
                  <option value="target" {{#if (eq effect.applyTo "target")}}selected{{/if}}>{{localize "FFXIV.Abilities.ApplyToTarget"}}</option>
                  <option value="self" {{#if (eq effect.applyTo "self")}}selected{{/if}}>{{localize "FFXIV.Abilities.ApplyToSelf"}}</option>
                  <option value="self_auto" {{#if (eq effect.applyTo "self_auto")}}selected{{/if}}>{{localize "FFXIV.Abilities.ApplyToSelfAuto"}}</option>
                  <option value="automation" {{#if (eq effect.applyTo "automation")}}selected{{/if}}>{{localize "FFXIV.Abilities.ApplyToAutomation"}}</option>
                </select>
                {{#unless effect.isAutomation}}
                  <select class="ffxiv-text-center ability-effect-action"
                          data-effect-id="{{effect.id}}">
                    <option value="add" {{#if (eq effect.applyAction "add")}}selected{{/if}}>{{localize "FFXIV.Abilities.StatusAdd"}}</option>
                    <option value="remove" {{#if (eq effect.applyAction "remove")}}selected{{/if}}>{{localize "FFXIV.Abilities.StatusRemove"}}</option>
                  </select>
                {{/unless}}
                <div class="effect-controls">
                  <a class="effect-control"
                     data-action="edit"
                     title="{{localize 'DOCUMENT.Update' type=(localize 'DOCUMENT.ActiveEffect')}}">
                    <i class="fas fa-edit"></i>
                  </a>
                  {{#unless effect.isAutomation}}
                    <a class="effect-control effect-control-delete"
                       data-action="delete"
                       title="{{localize 'DOCUMENT.Delete' type=(localize 'DOCUMENT.ActiveEffect')}}">
                      <span class="delete-icon">×</span>
                    </a>
                  {{/unless}}
                </div>
              </li>
            {{/each}}
            {{#unless abilityLinkedEffects.length}}
              <li>{{localize "FFXIV.CharacterSheet.NoEffects"}}</li>
            {{/unless}}
          </ul>
        </div>
        <hr>
        <div class="status-effects-editor ability-automation-editor">
          <label class="resource-label ability-automation-heading">{{ localize "FFXIV.Abilities.EffectAutomation" }}</label>
          <div class="status-effects-header">
            <label class="resource-label">{{ localize "FFXIV.Abilities.EffectRequirements" }}</label>
            <button type="button" class="add-effect-requirement">+</button>
          </div>
          <ul class="status-effect-list ability-automation-list ability-automation-edit-list">
            {{#each effectRequirementEntries as |entry index| }}
              <li>
                <details class="ability-automation-entry" {{#if entry.open}}open{{/if}}>
                  <summary>
                    <span class="ability-automation-text">{{entry.text}}</span>
                  </summary>
                  <div class="ability-automation-fields">
                    <label>
                      <span>{{localize "FFXIV.Abilities.AutomationName"}}</span>
                      <input class="effect-requirement-field"
                             data-index="{{index}}"
                             data-field="name"
                             type="text"
                             value="{{entry.name}}" />
                    </label>
                    <label>
                      <span>{{localize "FFXIV.Abilities.AutomationMode"}}</span>
                      <select class="effect-requirement-field"
                              data-index="{{index}}"
                              data-field="mode">
                        <option value="required" {{#if (eq entry.mode "required")}}selected{{/if}}>{{localize "FFXIV.Abilities.AutomationRequired"}}</option>
                        <option value="forbidden" {{#if (eq entry.mode "forbidden")}}selected{{/if}}>{{localize "FFXIV.Abilities.AutomationForbidden"}}</option>
                      </select>
                    </label>
                    <label>
                      <span>{{localize "FFXIV.Abilities.AutomationBypass"}}</span>
                      <input class="effect-requirement-field"
                             data-index="{{index}}"
                             data-field="bypass"
                             type="text"
                             value="{{entry.bypassText}}" />
                    </label>
                    <label>
                      <span>{{localize "FFXIV.Abilities.AutomationSpentResource"}}</span>
                      <input class="effect-requirement-field"
                             data-index="{{index}}"
                             data-field="resourceSpent"
                             type="text"
                             value="{{entry.resourceSpent}}" />
                    </label>
                    <label>
                      <span>{{localize "FFXIV.Abilities.AutomationSpentResourceMin"}}</span>
                      <input class="effect-requirement-field"
                             data-index="{{index}}"
                             data-field="resourceSpentMin"
                             type="number"
                             value="{{entry.resourceSpentMin}}" />
                    </label>
                    <label>
                      <span>{{localize "FFXIV.Abilities.AutomationSpentResourceMax"}}</span>
                      <input class="effect-requirement-field"
                             data-index="{{index}}"
                             data-field="resourceSpentMax"
                             type="number"
                             value="{{entry.resourceSpentMax}}" />
                    </label>
                    <label class="ability-automation-checkbox">
                      <input class="effect-requirement-field"
                             data-index="{{index}}"
                             data-field="consume"
                             type="checkbox"
                             {{#if entry.consume}}checked{{/if}} />
                      <span>{{localize "FFXIV.Abilities.AutomationConsume"}}</span>
                    </label>
                  </div>
                </details>
                <button type="button" class="remove-effect-requirement" data-index="{{index}}">x</button>
              </li>
            {{/each}}
            {{#unless effectRequirementEntries.length}}
              <li>
                <span class="ability-automation-text">{{localize "FFXIV.Abilities.EffectRequirementsNone"}}</span>
              </li>
            {{/unless}}
          </ul>
          <div class="status-effects-header">
            <label class="resource-label">{{ localize "FFXIV.Abilities.EffectRules" }}</label>
            <button type="button" class="add-effect-rule">+</button>
          </div>
          <ul class="status-effect-list ability-automation-list ability-automation-edit-list">
            {{#each effectRuleEntries as |entry index| }}
              <li>
                <details class="ability-automation-entry" {{#if entry.open}}open{{/if}}>
                  <summary>
                    <span class="ability-automation-text">{{entry.text}}</span>
                  </summary>
                  <div class="ability-automation-fields">
                    <label>
                      <span>{{localize "FFXIV.Abilities.AutomationTrigger"}}</span>
                      <select class="effect-rule-field"
                              data-index="{{index}}"
                              data-field="trigger">
                        <option value="use" {{#if (eq entry.trigger "use")}}selected{{/if}}>{{localize "FFXIV.Abilities.AutomationOnUse"}}</option>
                        <option value="cost" {{#if (eq entry.trigger "cost")}}selected{{/if}}>{{localize "FFXIV.Abilities.AutomationOnCost"}}</option>
                        <option value="hitThreshold" {{#if (eq entry.trigger "hitThreshold")}}selected{{/if}}>{{localize "FFXIV.Abilities.AutomationHitThreshold"}}</option>
                      </select>
                    </label>
                    <label>
                      <span>{{localize "FFXIV.Abilities.AutomationAction"}}</span>
                      <select class="effect-rule-field"
                              data-index="{{index}}"
                              data-field="action">
                        <option value="grant" {{#if (eq entry.action "grant")}}selected{{/if}}>{{localize "FFXIV.Abilities.AutomationGrant"}}</option>
                        <option value="remove" {{#if (eq entry.action "remove")}}selected{{/if}}>{{localize "FFXIV.Abilities.AutomationRemove"}}</option>
                        <option value="toggle" {{#if (eq entry.action "toggle")}}selected{{/if}}>{{localize "FFXIV.Abilities.AutomationToggle"}}</option>
                        <option value="resource" {{#if (eq entry.action "resource")}}selected{{/if}}>{{localize "FFXIV.Abilities.AutomationResource"}}</option>
                      </select>
                    </label>
                    {{#if entry.isResource}}
                      <label>
                        <span>{{localize "FFXIV.Abilities.AutomationOperation"}}</span>
                        <select class="effect-rule-field"
                                data-index="{{index}}"
                                data-field="operation">
                          <option value="grant" {{#if (eq entry.operation "grant")}}selected{{/if}}>{{localize "FFXIV.Abilities.AutomationGrant"}}</option>
                          <option value="consume" {{#if (eq entry.operation "consume")}}selected{{/if}}>{{localize "FFXIV.Abilities.AutomationConsume"}}</option>
                          <option value="fill" {{#if (eq entry.operation "fill")}}selected{{/if}}>{{localize "FFXIV.Abilities.AutomationFill"}}</option>
                          <option value="clear" {{#if (eq entry.operation "clear")}}selected{{/if}}>{{localize "FFXIV.Abilities.AutomationClear"}}</option>
                          <option value="set" {{#if (eq entry.operation "set")}}selected{{/if}}>{{localize "FFXIV.Abilities.AutomationSet"}}</option>
                        </select>
                      </label>
                      <label>
                        <span>{{localize "FFXIV.Abilities.AutomationResourceName"}}</span>
                        <input class="effect-rule-field"
                               data-index="{{index}}"
                               data-field="resource"
                               type="text"
                               value="{{entry.resource}}" />
                      </label>
                      <label>
                        <span>{{localize "FFXIV.Abilities.AutomationAmount"}}</span>
                        <input class="effect-rule-field"
                               data-index="{{index}}"
                               data-field="amount"
                               type="text"
                               value="{{entry.amount}}" />
                      </label>
                      <label>
                        <span>{{localize "FFXIV.Abilities.AutomationMinimum"}}</span>
                        <input class="effect-rule-field"
                               data-index="{{index}}"
                               data-field="min"
                               type="number"
                               value="{{entry.min}}" />
                      </label>
                      <label>
                        <span>{{localize "FFXIV.Abilities.AutomationSpentResource"}}</span>
                        <input class="effect-rule-field"
                               data-index="{{index}}"
                               data-field="spentResource"
                               type="text"
                               value="{{entry.spentResource}}" />
                      </label>
                    {{/if}}
                    <label>
                      <span>{{localize "FFXIV.Abilities.AutomationThreshold"}}</span>
                      <input class="effect-rule-field"
                             data-index="{{index}}"
                             data-field="threshold"
                             type="number"
                             value="{{entry.threshold}}" />
                    </label>
                    <label>
                      <span>{{localize "FFXIV.Abilities.AutomationName"}}</span>
                      <input class="effect-rule-field"
                             data-index="{{index}}"
                             data-field="name"
                             type="text"
                             value="{{entry.name}}" />
                    </label>
                    <label>
                      <span>{{localize "FFXIV.Abilities.AutomationIconOverride"}}</span>
                      <div class="ability-automation-file">
                        <input class="effect-rule-field"
                               data-index="{{index}}"
                               data-field="iconOverride"
                               type="text"
                               value="{{entry.iconOverride}}" />
                        <button type="button"
                                class="effect-rule-icon-picker"
                                data-index="{{index}}"
                                title="{{localize 'FFXIV.Abilities.AutomationIconOverride'}}">
                          <i class="fas fa-file-import"></i>
                        </button>
                      </div>
                    </label>
                    <label>
                      <span>{{localize "FFXIV.Abilities.AutomationRemoveFirst"}}</span>
                      <input class="effect-rule-field"
                             data-index="{{index}}"
                             data-field="remove"
                             type="text"
                             value="{{entry.removeText}}" />
                    </label>
                    <label>
                      <span>{{localize "FFXIV.Abilities.AutomationRequires"}}</span>
                      <input class="effect-rule-field"
                             data-index="{{index}}"
                             data-field="requires"
                             type="text"
                             value="{{entry.requiresText}}" />
                    </label>
                    <label>
                      <span>{{localize "FFXIV.Abilities.AutomationSpentResource"}}</span>
                      <input class="effect-rule-field"
                             data-index="{{index}}"
                             data-field="requiresResourceSpent"
                             type="text"
                             value="{{entry.requiresResourceSpent}}" />
                    </label>
                    <label>
                      <span>{{localize "FFXIV.Abilities.AutomationSpentResourceMin"}}</span>
                      <input class="effect-rule-field"
                             data-index="{{index}}"
                             data-field="requiresResourceSpentMin"
                             type="number"
                             value="{{entry.requiresResourceSpentMin}}" />
                    </label>
                    <label>
                      <span>{{localize "FFXIV.Abilities.AutomationSpentResourceMax"}}</span>
                      <input class="effect-rule-field"
                             data-index="{{index}}"
                             data-field="requiresResourceSpentMax"
                             type="number"
                             value="{{entry.requiresResourceSpentMax}}" />
                    </label>
                    <label>
                      <span>{{localize "FFXIV.Abilities.AutomationForbids"}}</span>
                      <input class="effect-rule-field"
                             data-index="{{index}}"
                             data-field="forbids"
                             type="text"
                             value="{{entry.forbidsText}}" />
                    </label>
                    {{#if entry.isToggle}}
                      <label>
                        <span>{{localize "FFXIV.Abilities.AutomationToggle1"}}</span>
                        <input class="effect-rule-field"
                               data-index="{{index}}"
                               data-field="toggle1Name"
                               type="text"
                               value="{{entry.toggle1Name}}" />
                      </label>
                      <label>
                        <span>{{localize "FFXIV.Abilities.AutomationToggle2"}}</span>
                        <input class="effect-rule-field"
                               data-index="{{index}}"
                               data-field="toggle2Name"
                               type="text"
                               value="{{entry.toggle2Name}}" />
                      </label>
                    {{/if}}
                  </div>
                </details>
                <button type="button" class="remove-effect-rule" data-index="{{index}}">x</button>
              </li>
            {{/each}}
            {{#unless effectRuleEntries.length}}
              <li>
                <span class="ability-automation-text">{{localize "FFXIV.Abilities.EffectRulesNone"}}</span>
              </li>
            {{/unless}}
          </ul>
        </div>
      </div>
    </div>
  </section>
</div>
