<div class="{{cssClass}} item-modern-sheet">
  <header class="sheet-header">
    <img class="profile-img"
         src="{{item.img}}"
         data-edit="img"
         title="{{item.name}}"  alt="" width="32" height="32" />
    <div class="header-fields">
      <h1 class="charname">
        <input name="name" type="text" value="{{item.name}}" placeholder="Name" />
      </h1>
    </div>
    <button type="button" class="item-delete" aria-label="{{localize 'FFXIV.Item.Delete'}}">
      <i class="fa-solid fa-trash-can"></i>
    </button>
  </header>
  <section class="sheet-body">
    <div class="attributes item-details-card">
      <div class="resources grid grid-1col">
        <div class="resource flex-group-center">
          <label for="system.source" class="resource-label">{{ localize "FFXIV.Item.Source" }}</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="system.source" value="{{ system.source }}">
          </div>
        </div>
      </div>
      <hr>
      <div class="tags-container">
        <label for="system.modifiers" class="resource-label">{{ localize "FFXIV.Item.Modifiers" }}</label>
        <button type="button" class="add-modifier">+</button>
        <ul class="tag-list">
          {{#each system.modifiers as |modifier index| }}
            <li>
              <select class="ffxiv-text-center modifier-name"
                      data-index="{{index}}">
                {{#each ../config.attributes as |m| }}
                  <option value="{{m.label}}"
                          {{#if (eq m.label modifier.[0]) }}
                          selected
                          {{/if }}>{{ localize m.label }}
                  </option>
                {{/each}}
                {{#each ../config.characteristics as |m| }}
                  <option value="{{m.label}}"
                          {{#if (eq m.label modifier.[0]) }}
                          selected
                          {{/if }}>{{ localize m.label }}
                  </option>
                {{/each}}
              </select>
              <input type="text"
                     class="modifier-value"
                     value="{{modifier.[1]}}"
                     data-index="{{index}}">
              <button type="button" class="remove-modifier" data-index="{{index}}">x</button>
            </li>
          {{/each}}
        </ul>
      </div>
      <hr>
      <prose-mirror name="system.description" value="{{source.description}}" document-uuid="{{item.uuid}}" class="sized"></prose-mirror>
    </div>
  </section>
</div>
