<div class='{{cssClass}}'>
  <header class='sheet-header'>
    <img
      class='profile-img'
      src='{{item.img}}'
      data-edit='img'
      title='{{item.name}}'
    />
    <div class='header-fields'>
      <h1 class='charname'><input
          name='name'
          type='text'
          value='{{item.name}}'
          placeholder='Name'
        /></h1>
    </div>
    <button type="button" class="item-delete" aria-label="{{localize 'FFXIV.Item.Delete'}}"><i class="fa-solid fa-trash-can"></i></button>
  </header>

  <hr>

  {{! Sheet Body }}
  <section class='sheet-body'>

    <div class='attributes'>

      <div class="resources grid grid-2col">

        <div class="resource flex-group-center">
          <label for="system.price.buy" class="resource-label">{{ localize "FFXIV.Item.Buy" }}</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input name="system.price.buy" type="number" value="{{item.system.price.buy}}"/>
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="system.price.sell" class="resource-label">{{ localize "FFXIV.Item.Sell" }}</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input name="system.price.sell" type="number" value="{{item.system.price.sell}}"/>
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="system.price.denomination" class="resource-label">{{ localize "FFXIV.Item.Denomination" }}</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input name="system.price.denomination" type="text" value="{{localize item.system.price.denomination}}"/>
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="system.shop_tier" class="resource-label">{{ localize "FFXIV.Item.ShopTier" }}</label>
          <div class="resource-content flexrow flex-center flex-between">
            <select style="text-align: center;" name="system.shop_tier">
              <option value="">{{ localize "FFXIV.None" }}</option>
              {{#each this.config.shop_tiers as |tier|}}
              <option value="{{tier.value}}" {{#if (eq tier.value ../system.shop_tier)}}selected {{/if}}>{{ localize tier.label }}</option>
              {{/each}}
            </select>
          </div>
        </div>
        {{#if (eq system.shop_tier "custom")}}
        <div class="resource flex-group-center">
          <label for="system.shop_tier_custom" class="resource-label">{{ localize "FFXIV.ShopTier.CustomLabel" }}</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input name="system.shop_tier_custom" type="text" value="{{system.shop_tier_custom}}"/>
          </div>
        </div>
        {{/if}}

      </div>


      <hr>

      <div class="resources grid grid-1col">
        <div class="resource flex-group-center">
          <label for="system.base_effect" class="resource-label">{{ localize "FFXIV.Abilities.BaseEffect" }}</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input name="system.base_effect" type="text" value="{{item.system.base_effect}}"/>
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="system.granted_ability" class="resource-label">{{ localize "FFXIV.Item.GrantedAbility" }}</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input name="system.granted_ability" type="text" value="{{item.system.granted_ability}}"/>
          </div>
        </div>
      </div>

    </div>

  </section>
</div>
